Repository mono/monodevelop, pull requests merged in 2019-06, with the labels that each got.

#7774 Fix 901093: Completing a snippet adds a newline
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/ExpansionManager.cs
Labels: Area: VS Text Editor

#7788 Fixes VSTS Bug 901463: Copy and paste is broken or copies wrong text
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/BlameView.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/DiffView.cs
Labels: verified

#7791 Fix 901424: After click in the document navigation editor doesn't get focus
  main/src/addins/CSharpBinding/MonoDevelop.CSharp/CSharpPathedDocumentExtension.DataProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/DropDownBoxListWindow.cs
Labels: Area: VS Text Editor, verified

#7512 Catch exception from having a bad LangVersion setting in .csproj
  main/src/addins/CSharpBinding/Gui/MonoDevelop.CSharp.Project.CompilerOptionsPanelWidget.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CSharpCompilerParameters.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CompilerOptionsPanelWidget.cs
Labels: verified

#7764 [Mac] Don't force resize the window when positioning it
  main/src/addins/MacPlatform/MacPlatform.cs
Labels: verified

#7805 Fix 801652: New Editor: broken history of references navigation
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.TextViewNavigationPoint.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles/SearchResultWidget.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/NavigationHistoryService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
Labels: Area: VS Text Editor, verified

#7358 Fix selecting ActiveConfig and ActiveRuntime via AutoTest
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AutoTest.Results/NSObjectResult.cs
Labels: Area: Test Tools

#7845 remove preview label
  version.config
Labels: do-not-merge

#7859 Fix 841029: Can't list classes in navigation bar
  main/src/addins/CSharpBinding/MonoDevelop.CSharp/CSharpPathedDocumentExtension.cs
Labels: Area: VS Text Editor, verified

#7849 Fixes new editor debugger tooltip not showing errors
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Debugger/RoslynDebugInfoProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/QuickInfo/DebuggerQuickInfoSource.cs
Labels: Area: VS Text Editor

#7870 [CSharpBinding] Allow choosing C# 8
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CompilerOptionsPanelWidget.cs
Labels: Area: Roslyn Integration

#7808 Fix old editor settings/issues
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditorViewContent.cs
Labels: verified

#7762 Fixes resize dock containers in our dock system moving SplitterWidget to native
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/DockContainer.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/MacSplitterWidget.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/SplitterMacHostWidget.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/SplitterWidgetWrapper.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/GtkNSViewHost.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Labels: do-not-merge

#7842 Bump Roslyn to 3.2.0-beta4-19312-10
  NuGet.config
  main/Directory.Build.props
  main/build/MacOSX/BinaryCompatBaseline.txt
  main/msbuild/ReferencesVSEditor.Windows.props
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.PackageInstaller/PackageInstallerService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopAnalyzer.cs
  main/src/core/MonoDevelop.Startup/app.config
Labels: Area: Roslyn Integration, Area: VS Text Editor

#7857 Fixes VSTS 891769: Go To Matching Brace does not work
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7850 Fixes VSTS 893547: Extract Interface Dialog buttons don't close dialog
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.ExtractInterface/ExtractInterfaceOptionService.cs
Labels: Area: Text Editor, Area: VS Text Editor, verified

#7872 [TextEditor] Allow extensions to opt file types into new editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/SupportedFileTypeExtensionNode.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewDisplayBinding.cs
Labels: Area: VS Text Editor

#7908 Map "Show import items" option to equivalent Roslyn feature
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.OptionPanels/CompletionOptionsPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
Labels: Area: Roslyn Integration, Area: VS Text Editor

#7518 [Version Control] Mismatches actual files commited vs selected when using git
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: Area: IDE Platform\Version Control\Git

#7851 [Version Control] Validate repository url when trying to checkout
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/UrlBasedRepositoryEditor.cs
Labels: Area: Version Control

#7795 [Version Control] Checkout problem using spaces at the end of the URL
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/UrlBasedRepository.cs
Labels: Area: Version Control

#7629 [Shell] Show an alert in StatusMonitor if the Workbench is not visible
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlTask.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring/MessageDialogProgressMonitor.cs
Labels: Area: Shell

#7929 [TextEditor] Use feature flag instead of global option to enable new editor for C#
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/CSharpEnableNewEditorSwitchController.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewDisplayBinding.cs
Labels: Area: VS Text Editor

#7930 [release-8.1] [IDE] Only set TransientFor when showing the window, not when centering
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/MessageService.cs
Labels: verified

#7938 GtkNSViewHost: fix NRE in OnFocusOutEvent
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/GtkNSViewHost.cs
Labels: Area: Shell

#7936 [release-8.2] [TextEditor] Use feature flag instead of global option to enable new editor for C#
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/CSharpEnableNewEditorSwitchController.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewDisplayBinding.cs
Labels: Area: VS Text Editor

#7906 Fixed Snippets Drag&Drop and added ability for Android Designer to do D&D
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/IDragDataToolboxNode.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.csproj
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport/ToolboxPad.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/ToolboxDropHandler.cs
Labels: Area: VS Text Editor

#7948 [master] [release-8.1] ExceptionCaughtAdornmentManager: catch and log exception
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor

#7947 [release-8.2] [release-8.1] ExceptionCaughtAdornmentManager: catch and log exception
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor

#7942 [release-8.1] ExceptionCaughtAdornmentManager: catch and log exception
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor

#7949 Updated reference to xamarin/md-addins@d529123
  version-checks
Labels: Area: VS Text Editor

#7945 [release-8.2] Fixed Snippets Drag&Drop and added ability for Android Designer to do D&D
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/IDragDataToolboxNode.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.csproj
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport/ToolboxPad.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/ToolboxDropHandler.cs
Labels: Area: VS Text Editor

#7944 [master] GtkNSViewHost: fix NRE in OnFocusOutEvent
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/GtkNSViewHost.cs
Labels: Area: Shell

#7943 [release-8.2] GtkNSViewHost: fix NRE in OnFocusOutEvent
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/GtkNSViewHost.cs
Labels: Area: Shell

#7941 Bump Roslyn to 3.2.0-beta4-19317-08
  main/Directory.Build.props
Labels: Area: Roslyn Integration, Roslyn: Approved for merge, do-not-merge

#7960 [release-8.2] Bump Roslyn to 3.2.0-beta4-19317-08
  main/Directory.Build.props
Labels: Area: Roslyn Integration

#7962 Add an extension point to provide projection buffers during text view construction
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Extensions/IProjectionBufferProvider.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewImports.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Util/ProjectionTextDataModel.cs
Labels: Area: VS Text Editor

#7971 [release-8.2] [DotNetCore] Don't offer .NET Core update if not installed already
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSystemInformation.cs
Labels: Area: .NET Core

#7939 [release-8.2] Enable debugger extensions to support ASP.NET Core debugging
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreExecutionCommand.cs
Labels: Area: .NET Core

#7976 C#: Add some missing options
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/OnTheFlyFormattingPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
Labels: Area: Roslyn Integration, Area: VS Text Editor

#7975 TextViewContent: Show column rulers, including new editorconfig value
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/EditorConfigService.cs
Labels: Area: VS Text Editor

#7978 [release-8.2] TextViewContent: Show column rulers, including new editorconfig value
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/EditorConfigService.cs
Labels: Area: VS Text Editor

#7979 [release-8.2] C#: Add some missing options
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/OnTheFlyFormattingPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
Labels: Area: Roslyn Integration, Area: VS Text Editor

#7342 [DotNetCore] Show package updates in Solution window
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Commands/PackageDependencyNodeCommandHandler.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/DependenciesNode.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/DependenciesNodeBuilderExtension.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/PackageDependenciesNode.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/PackageDependencyNode.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/PackageDependencyNodeBuilder.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/PackageDependencyNodeDescriptor.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.NodeBuilders/PackageDependencyNodePropertyProvider.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.csproj
  main/src/addins/MonoDevelop.DotNetCore/Properties/AddinInfo.cs
  main/src/addins/MonoDevelop.DotNetCore/Properties/MonoDevelop.DotNetCore.addin.xml
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Commands/PackageReferenceNodeCommandHandler.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Commands/PackageReferenceNodeCommands.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.NodeBuilders/PackageReferenceNode.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.NodeBuilders/PackageReferenceNodeBuilder.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/PackageReferenceNodeTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/ProjectPackagesFolderNodeTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.addin.xml
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.csproj
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/DotNetProjectProxy.cs
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16@2x.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~dark.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~dark@2x.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~dark~sel.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~dark~sel@2x.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~sel.png
  main/src/addins/MonoDevelop.PackageManagement/icons/package-update-16~sel@2x.png
Labels: Area: .NET Core

#8013 [release-8.2] TextEditor: Map folding commands
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7980 TextEditor: Map folding commands
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#8014 [release-8.2] Fixes VSTS Bug 936306: [Feedback] The "Publish in version control"
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/PublishCommand.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/VersionControl.addin.xml
Labels: verified

#7969 Fixes VSTS Bug 901126: Updating from git w/ remote & local changes
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: Area: IDE Platform\Version Control\Git

#8020 [release-8.2] Fixes VSTS Bug 901126: Updating from git w/ remote & local changes
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: Area: IDE Platform\Version Control\Git

#7916 [DotNetCore] Make DotNetCoreDevCertsTool public
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/DotNetCoreDevCertsTool.cs
Labels: Area: .NET Core

#8031 [release-8.2] [aspnet] Prevents NRE when no project is loaded
  main/src/addins/AspNet/WebForms/WebFormsTypeContext.cs
Labels: Area: .NET Core

#8040 Fix 937834: In the new editor, the Chinese input repeats.
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
Labels: Area: VS Text Editor

#8026 [IDE] Listen for NSNotification to know if the app was started from F…
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/IdeTheme.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/NativeToolkitHelper.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.WelcomePage/WelcomePageService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
Labels: verified

#8019 Bump Roslyn to 3.2.0-beta4-19324-01
  main/Directory.Build.props
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TextEditorInitializationService.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/DefaultSourceEditorOptions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditorViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TextPolicyDocumentOptionsProvider.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices/RoslynServiceTests.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding.Refactoring/CSharpCodeActionEditorExtensionTests.cs
Labels: Area: Roslyn Integration, Roslyn: Approved for merge

#7950 Fixes VSTS 896684: Override keyword does not show protocol completions
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CompletionProvider/ProtocolMemberCompletionProvider.cs
Labels: Area: Roslyn Integration

#8033 [C#] Fix unhandled exception that is thrown when completion is canceled
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
Labels: verified

#8055 [release-8.2] Bump Roslyn to 3.2.0-beta4-19324-01
  main/Directory.Build.props
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TextEditorInitializationService.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/DefaultSourceEditorOptions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditorViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TextPolicyDocumentOptionsProvider.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices/RoslynServiceTests.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding.Refactoring/CSharpCodeActionEditorExtensionTests.cs
Labels: Area: Roslyn Integration

#8056 [release-8.2] Fixes VSTS 896684: Override keyword does not show protocol completions
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CompletionProvider/ProtocolMemberCompletionProvider.cs
Labels: Area: Roslyn Integration
