Repository mono/monodevelop, pull requests merged in 2019-07, with the labels that each got.

#4478 Fix queued sheets
  main/src/addins/MacPlatform/Dialogs/MacAlertDialogHandler.cs
Labels: Area: Shell

#7882 Fixes VSTS 915954: "Rename File to {NewClassName}.cs" code action does not work
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/DocumentController.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/TextBufferFileModel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/DefaultWorkbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/RoslynDocumentExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/DispatchService.cs
Labels: Area: Roslyn Integration

#8090 [Shell] InvalidOperationException updating MDMenuItem
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/MDMenuItem.cs
Labels: Area: Shell

#7682 Add support for automatic file nesting
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.csproj
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreNestingRulesProvider.cs
  main/src/addins/MonoDevelop.AspNetCore/Properties/MonoDevelop.AspNetCore.addin.xml
  main/src/addins/MonoDevelop.AspNetCore/Resources/AspNetCore.filenesting.json
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateTests.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.addin.xml
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.FileNesting/FileNestingService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.FileNesting/NestingRule.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.FileNesting/NestingRulesProvider.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectFile.cs
  main/tests/IdeUnitTests/ProjectTemplateTest.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/FileNestingTests.cs
Labels: Area: .NET Core, Area: Project Model, verified

#8059 Fix 935181: TryGetBreakpointSpan called with invalid position
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Debugger/CSharpBreakpointSpanResolver.cs
Labels: Area: VS Text Editor

#8097 Fixes VSTS 935137: Null Reference Exceptions when disposing TextViewContent
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#8105 Fixes VSTS 917028: Calling ScrollToRequestedCaretLocation with an invalid line number caused an exception
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/DocumentManager.cs
Labels: Area: VS Text Editor

#8076 [release-8.2] Fix 923058: ArgumentOutOfRangeException in GetCharacterBounds
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor

#8069 Fix 923058: ArgumentOutOfRangeException in GetCharacterBounds
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor

#8123 [release-8.2] Fixes VSTS 915954: "Rename File to {NewClassName}.cs" code action does not work
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/DocumentController.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/TextBufferFileModel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/DefaultWorkbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/RoslynDocumentExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/DispatchService.cs
Labels: Area: VS Text Editor

#8127 [release-8.2] Fixes VSTS 935137: Null Reference Exceptions when disposing TextViewContent
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#8129 [release-8.2] Fix 935197: Exception in TextFileNavigationPoint.OnDocumentClosing
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
Labels: Area: VS Text Editor

#8073 Fix 935197: Exception in TextFileNavigationPoint.OnDocumentClosing
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
Labels: Area: VS Text Editor

#8080 Fix Windows build.
  main/msbuild/ReferencesVSEditor.Windows.props
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/core/MonoDevelop.Startup/app.config
Labels: Area: VS Text Editor

#8044 [release-8.2] Adds a ZOrder system based in GtkNSViewHost
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/MacToolbox.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/MacToolboxWidget.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/NativeViews/ClickedButton.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/NativeViews/SearchTextField.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/NativeViews/ToggleButton.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport/ToolboxPad.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/DockContainer.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking/SplitterMacHostWidget.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/HPanedThin.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/DragEventTrapView.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/GtkNSViewHost.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/Messaging.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac/NSViewExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Labels: verified

#8131 [Backport] Fixes VSTS 917028: Calling ScrollToRequestedCaretLocation with an invalid line number caused an exception
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/DocumentManager.cs
Labels: Area: VS Text Editor

#8143 [Mac] Don't hang when terminating through the dock icon
  main/src/addins/MacPlatform/MacPlatform.cs
Labels: verified

#8149 [Version Control] Fix exception opening the StatusView
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/VPanedThin.cs
Labels: Area: Version Control

#8167 Bump fantomas
  main/external/fsharpbinding/paket.dependencies
  main/external/fsharpbinding/paket.lock
Labels: verified

#8162 TextViewContent: Fix some issues with column ruler display
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#7905 Initial support for Textmate classification in new editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/TextMate/CustomRepositoryService.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition/CommonEditorAssetServiceFactory.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Labels: Area: VS Text Editor

#8190 Fixes 832745, 937869, 918951 - Implement Sort and Join Lines
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#8161 [DotNetCore] Add support for .NETStandard 2.1 in .NET Core 3
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreProjectSupportedTargetFrameworks.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/TargetFrameworkExtensions.cs
Labels: Area: .NET Core

#8174 [dotnetcore] Uses DotNetCoreSdkPaths resolver instead of DotNetCoreSdk
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSystemInformation.cs
Labels: Area: .NET Core

#8104 [Ide][Core] Adds support for AppendTargetFrameworkToOutputPath
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/TargetFrameworkExtensions.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/DotNetProjectConfiguration.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Projects.OptionPanels/OutputOptionsPanel.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Projects.OptionPanels/OutputOptionsPanelTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Labels: Area: .NET Core, verified

#8175 Bump Roslyn to 3.2.0-beta4-19359-03
  main/Directory.Build.props
Labels: Area: Roslyn Integration, Roslyn: Approved for merge

#8218 Bump Roslyn to 3.3.0-beta1-19360-03
  main/Directory.Build.props
  main/build/MacOSX/BinaryCompatBaseline.txt
  main/src/core/MonoDevelop.Startup/app.config
Labels: Area: Roslyn Integration, Roslyn: Approved for merge

#8221 [DotNetCore] Enable "Publish to folder" command for all .NET Core projects
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.Commands/PublishToFolderBaseCommandHandler.cs
Labels: Area: .NET Core

#8236 [DotNetCore] Allow *Command's to provide post launch operations
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreExecutionCommand.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreExecutionHandler.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreExecutionCommand.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreExecutionHandler.cs
Labels: Area: .NET Core

#8264 [Projects] Deal correctly with DependsOnFile pointing to a folder
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/FolderNodeBuilder.cs
Labels: verified

#8230 Map ShrinkSelection for new editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#8219 [dotnetcore] Turns DotNetCoreNotInstalledDialog into a InfoBar
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.csproj
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreNotInstalledInfoBar.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreProjectExtension.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSdk.cs
Labels: Area: .NET Core

#8291 Editor: Add TaskTagger so TODOs get highlighted
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
Labels: Area: VS Text Editor

#8262 Fixes VSTS 948416: Document Outline does not refresh
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtensionProvider.cs
Labels: Area: VS Text Editor

#8279 Editor: Respect pref to not show completion window while typing
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.OptionPanels/CompletionOptionsPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
Labels: Area: VS Text Editor

#8275 Build: Use a property to access the vs-editor-api directory
  main/Directory.Build.props
  main/msbuild/ReferencesVSEditor.Mac.props
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Wpf/MonoDevelop.TextEditor.Wpf.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/MonoDevelop.TextEditor.csproj
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Labels: Area: VS Text Editor

#8261 Fixes VSTS 950315: Code Folding menu toggle does not work in new editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewImports.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/ViewCommandHandlers.cs
Labels: Area: VS Text Editor

#7953 [Debugger] Modernize the BreakpointPad code a bit
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/BreakpointPad.cs
Labels: verified

#8271 Bump Roslyn to 3.3.0-beta2-19374-02
  main/Directory.Build.props
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.PackageInstaller/PackageInstallerService.cs
Labels: Area: Roslyn Integration, Roslyn: Approved for merge

#8298 [Debugger] Fixed toggling of breakpoints at the end of a line
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/BreakpointManager.cs
Labels: verified
