Repository mono/monodevelop, pull requests merged in 2019-02, with the labels that each got.

#7077 Revert "[Editor] Fix some performance issue happening on classificati…
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TagBasedSyntaxHighlighting.cs
Labels: verified

#7067 [VersionControl] Matches scrollarea in authors tab with its source editor
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/BlameView.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/BlameWidget.cs
Labels: Area: Version Control

#7133 Remove preview label
  version.config
Labels: MUST SHIP

#7090 Fix 785490 - Crash in Xwt.Mac
  main/src/addins/MacPlatform/MacPlatform.cs
Labels: verified

#7141 [UnitTesting] Fix NRE when disposing
  main/src/addins/MonoDevelop.UnitTesting/Services/SolutionFolderTestGroup.cs
Labels: Area: IDE Platform\Version Control\Git, Area: Unit Testing

#7142 [VersionControl] Fix error getting File Status (Git)
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: Area: IDE Platform\Version Control\Git

#7128 [VersionControl] Fixed error fetching from Git server
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitConfigurationDialog.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: Area: IDE Platform\Version Control\Git

#7137 [VersionControl] Add validations adding a new remote (Git)
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/EditRemoteDialog.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitConfigurationDialog.cs
Labels: Area: IDE Platform\Version Control\Git

#7129 [VersionControl] Add validations to Checkout process
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Dialogs/SelectRepositoryDialog.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/UrlBasedRepositoryEditor.cs
Labels: Area: IDE Platform\Version Control\Git

#7127 Fixed error opening Dialogs using MessageService
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/MessageService.cs
Labels: Area: IDE Platform\Version Control\Git

#7130 [VersionControl] Validate email overriding user in git commit
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitCommitDialogExtension.cs
Labels: Area: IDE Platform\Version Control\Git

#7191 [VersionControl] Error creating branches
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/EditBranchDialog.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitConfigurationDialog.cs
Labels: Area: IDE Platform\Version Control\Git

#7202 [release-7.8] [Ide] Just let the content GrabFocus when document tab is activated
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/SdiWorkspaceWindow.cs
Labels: MUST SHIP, high-priority, verified

#7200 [Ide] Just let the content GrabFocus when document tab is activated
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/SdiWorkspaceWindow.cs
Labels: MUST SHIP, high-priority

#7178 [VersionControl] Fixes an error publish a project to Git
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/Repository.cs
Labels: Area: IDE Platform\Version Control\Git

#7213 [Git] Pushing should not be blocking
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
Labels: high-priority

#7258 [NetCore] Sets starting working directory according to VS on Windows
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreProjectExtension.cs
Labels: verified
