Repository mono/monodevelop, pull requests merged in 2019-09, with the labels that each got.

#8595 [AspNetCore] Fix incorrect command line in certificate message
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreCertificateManager.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/DotNetCoreDevCertsTool.cs
Labels: Area: .NET Core

#8612 [AspNetCore] Instantiate CurrentProfile in all constructors
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreRunConfiguration.cs
Labels: Area: .NET Core

#8613 [release-8.3] [AspNetCore] Instantiate CurrentProfile in all constructors
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreRunConfiguration.cs
Labels: Area: .NET Core

#8611 Fix launch settings always generated with https
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.Tests/MonoDevelop.AspNetCore.Tests/LaunchSettingsTests.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreCertificateManager.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/LaunchProfileProvider.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
Labels: Area: .NET Core

#8618 CSharpCompilerParameters: Add support for "nullable"
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CSharpCompilerParameters.cs
Labels: Area: Roslyn Integration

#8411 [IDE] Add "Add Reference" under project context menu
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.addin.xml
  main/src/addins/MonoDevelop.WebReferences/MonoDevelop.WebReferences.addin.xml
  main/src/core/MonoDevelop.Ide/ExtensionModel/Commands.addin.xml
  main/src/core/MonoDevelop.Ide/Gui/MonoDevelop.Ide.Projects.SelectReferenceDialog.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/ProjectPadContextMenu.addin.xml
Labels: verified

#8627 [release-8.3] CSharpCompilerParameters: Add support for "nullable"
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CSharpCompilerParameters.cs
Labels: Area: Roslyn Integration, Area: VS Text Editor

#8632 Add file templates for .js and .html
  main/src/addins/AspNet/Properties/MonoDevelop.AspNet.addin.xml
  main/src/addins/AspNet/Templates/EmptyJavaScriptFile.xft.xml
  main/src/addins/AspNet/Templates/JsonFileTemplate.json
Labels: Area: VS Text Editor, Area: Web Tools\Web Editors

#8656 Fix bold theme and some other issues in CSS themes.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/DarkStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/HCDarkStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/LightStyle.json
Labels: Area: VS Text Editor

#8639 Remove document from `GetOpenDocumentIds` when removed from project
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Labels: Area: Roslyn Integration

#8657 [release-8.3] Remove document from `GetOpenDocumentIds` when removed from project
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Labels: Area: Roslyn Integration

#8647 Workspace: Prevent DocumentIds from changing on configuration change
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectData.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectDataMap.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectSystemHandler.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspaceProjectDataMapTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspaceProjectDataTests.cs
Labels: Area: Roslyn Integration

#8659 [release-8.3] Workspace: Prevent DocumentIds from changing on configuration change
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectData.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectDataMap.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.ProjectSystemHandler.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspaceProjectDataMapTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspaceProjectDataTests.cs
Labels: Area: Roslyn Integration

#8651 Disable "Show test source code" menu option when souceCodeLocation is…
  main/src/addins/MonoDevelop.UnitTesting/Gui/TestNodeBuilder.cs
Labels: verified

#8663 Map `ShowCompletionWindow` to `CommitUniqueCompletionListItem`
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#8660 Bump Roslyn to 3.3.1-beta3-19454-05
  main/msbuild/RoslynVersion.props
Labels: Area: Roslyn Integration, Roslyn: Approved for merge

#8665 [release-8.3] Bump Roslyn to 3.3.1-beta3-19454-05
  main/msbuild/RoslynVersion.props
Labels: Area: Roslyn Integration

#8672 [release-8.3] Map `ShowCompletionWindow` to `CommitUniqueCompletionListItem`
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#8649 [AspNet*] Filter HTTP handlers to viewer role
  main/src/addins/AspNet/Projects/AspNetAppProjectFlavor.cs
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/DesktopApplication.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/DesktopService.cs
  main/tests/MacPlatform.Tests/MacPlatformTest.cs
Labels: Area: .NET Core

#8650 [release-8.3] [AspNet*] Filter HTTP handlers to viewer role
  main/src/addins/AspNet/Projects/AspNetAppProjectFlavor.cs
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/DesktopApplication.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/DesktopService.cs
  main/tests/MacPlatform.Tests/MacPlatformTest.cs
Labels: Area: .NET Core

#8668 Fix 934342: When I press shift+tab, the selected code lines don't get un-indented
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#8661 Fix 980541: Switching themes in Preferences corrupts colors in editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
Labels: Area: VS Text Editor

#8675 [release-8.3] Fix 934342: When I press shift+tab, the selected code lines don't get un-indented
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#8680 [release-8.3] Fix 980541: Switching themes in Preferences corrupts colors in editor
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
Labels: Area: VS Text Editor

#8505 [F#] Update to FSharp.CompilerService 31.0
  main/external/fsharpbinding/MonoDevelop.FSharp.Tests/Interactive.fs
  main/external/fsharpbinding/MonoDevelop.FSharp.Tests/TestHelpers.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpFormatter.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/ScriptDebugging.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/Services/LanguageService.fs
  main/external/fsharpbinding/paket.dependencies
  main/external/fsharpbinding/paket.lock
  main/src/core/MonoDevelop.Startup/app.config
Labels: Area: F#

#8625 [DotNetCore] Add .NET Core runtime "component"
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.csproj
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreRuntimeSystemInformation.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSystemInformation.cs
  main/src/addins/MonoDevelop.DotNetCore/Properties/MonoDevelop.DotNetCore.addin.xml
Labels: Area: .NET Core

#8719 Fix flickering issue in results window
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar/SearchPopupWindow.cs
Labels: verified

#8726 Fix all hangs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/StatusView.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/Repository.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlFileSystemExtension.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlNodeExtension.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/FileService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/ProjectNodeBuilder.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Projects.FileNesting/FileNestingService.cs
Labels: verified

#8737 [master] TextViewContent: Only handle commands if text view has keyboard focus
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#8736 TextViewContent: Only handle commands if text view has keyboard focus
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#8730 [FileNesting] Avoid computing file nesting tree for all projects
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Projects.FileNesting/FileNestingService.cs
Labels: Area: Project Model

#8424 [Debugger] Add Debug All Test command
  main/src/addins/MonoDevelop.UnitTesting/Commands/UnitTestCommands.cs
  main/src/addins/MonoDevelop.UnitTesting/Gui/TestPad.cs
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.addin.xml
  main/src/core/MonoDevelop.Ide/ExtensionModel/StockIcons.addin.xml
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
  main/src/core/MonoDevelop.Ide/icons/debug-all-16.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16@2x.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~dark.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~dark@2x.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~dark~sel.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~dark~sel@2x.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~sel.png
  main/src/core/MonoDevelop.Ide/icons/debug-all-16~sel@2x.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16@2x.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~dark.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~dark@2x.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~dark~sel.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~dark~sel@2x.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~sel.png
  main/src/core/MonoDevelop.Ide/icons/test-failed-16~sel@2x.png
Labels: do-not-merge, verified

#8767 Remove preview flag
  version.config
Labels: MUST SHIP, do-not-merge

#8768 Fixes current navigation history and takes care about closed documents
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/DocumentNavigationPoint.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks/TaskStore.cs
Labels: verified

#8771 Fix breakpoints inside .cshtml files.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Debugger/RoslynDebugInfoProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/BreakpointManager.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/BreakpointManagerService.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/BreakpointGlyphMouseProcessor.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/BreakpointGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphFactoryProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphFactoryProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/QuickInfo/DebuggerQuickInfoSource.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/AbstractCurrentStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/BreakpointForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/BreakpointTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementForegroundTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementTaggerProvider.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Commands/WindowCommands.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
Labels: Area: VS Text Editor

#8792 Debugger: Set position when using New Breakpoint with new editor
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/BreakpointPropertiesDialog.cs
Labels: Area: Debugger, Area: VS Text Editor

#8784 [master] Fix breakpoints inside .cshtml files.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Debugger/RoslynDebugInfoProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/BreakpointManager.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/BreakpointManagerService.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/BreakpointGlyphMouseProcessor.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/BreakpointGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphFactoryProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/CurrentStatementGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphFactoryProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Glyphs/ReturnStatementGlyphTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/QuickInfo/DebuggerQuickInfoSource.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/AbstractCurrentStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/BreakpointForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/BreakpointTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementForegroundTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/CurrentStatementTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementForegroundTaggerProvider.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementTagger.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/Tags/ReturnStatementTaggerProvider.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Commands/WindowCommands.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation/TextFileNavigationPoint.cs
Labels: Area: VS Text Editor

#8794 Add support for Blazor server side projects
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.csproj
  main/src/addins/MonoDevelop.AspNetCore/Properties/MonoDevelop.AspNetCore.addin.xml
  main/src/addins/MonoDevelop.AspNetCore/Templates/RazorComponent.razor
  main/src/addins/MonoDevelop.AspNetCore/Templates/RazorComponent.xft.xml
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Templating/DotNetCoreProjectTemplateWizard.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateWizardTests.cs
Labels: Area: .NET Core

#8798 [FileNesting] Include multiple nested files on move operations
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.Tests/MonoDevelop.AspNetCore.Tests/AspNetCoreProjectTests.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/FolderNodeBuilder.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/ProjectFileNodeBuilder.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Projects.FileNesting/FileNestingService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/ProjectOperations.cs
Labels: Area: .NET Core, Area: Project Model

#8770 [Unit Tests] avoid running old tests in VsTestProjectTestSuite
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.VsTest/VsTestProjectTestSuite.cs
Labels: verified
