Repository mono/monodevelop, pull requests merged in 2019-05, with the labels that each got.

#7468 Fixes VSTS Bug 829199: [Feedback] Document Outline doesn't work with New Editor
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtensionProvider.cs
Labels: Area: IDE Platform\Legacy Editor, Area: Text Editor

#7503 TextEditor: Update name of new editor display binding
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewDisplayBinding.cs
Labels: Area: Text Editor

#7504 [release-8.1] TextEditor: Update name of new editor display binding
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewDisplayBinding.cs
Labels: Area: Text Editor

#7499 [release-8.1] Fixes VSTS Bug 829199: [Feedback] Document Outline doesn't work with New Editor
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.ClassOutline/CSharpOutlineTextEditorExtensionProvider.cs
Labels: Area: Text Editor

#7470 Fixes 866554: Enable Snippets within Toolbox
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/CodeTemplateToolboxProvider.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/MacToolboxWidget.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/CocoaTextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/CocoaTextViewImports.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/SnippetsInToolbox/SnippetToolboxNode.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Toolbox.cs
Labels: Area: Text Editor

#7508 [release-8.1] Fixes 866554: Enable Snippets within Toolbox
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/CodeTemplateToolboxProvider.cs
  main/src/addins/MonoDevelop.DesignerSupport/MonoDevelop.DesignerSupport.Toolbox/MacToolboxWidget.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/CocoaTextViewContent.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/CocoaTextViewImports.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/SnippetsInToolbox/SnippetToolboxNode.cs
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Toolbox.cs
Labels: Area: Text Editor

#7519 [Shell] Fix wrong initial position of some Dialogs
  main/src/addins/MacPlatform/MacPlatform.cs
Labels: Area: Shell, verified

#7510 Fixes VSTS Bug 889278: Exceptions are thrown whenever a change is
  main/src/core/Mono.TextEditor.Shared/Mono.TextEditor/Document/TextDocument.cs
Labels: verified

#7546 TextViewContent: Clean up CanHandleCommand
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: Text Editor

#7569 [release-8.1] TextViewContent: Clean up CanHandleCommand
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: Text Editor

#7552 Fix Windows build.
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Toolbox.cs
Labels: Area: Text Editor

#7603 Fix issue when closing floating document notebook
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.DockNotebook/DockWindow.cs
Labels: verified

#7566 Bump Roslyn to 3.1.0-beta4-19261-04
  main/Directory.Build.props
Labels: Area: Text Editor

#7585 TextEditor: Map and menu for multi-caret commands
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/core/MonoDevelop.Ide/ExtensionModel/MainMenu.addin.xml
Labels: Area: VS Text Editor

#7610 Fix Find commands availability.
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#7616 [release-8.1] Bump Roslyn to 3.1.0-beta4-19261-04
  main/Directory.Build.props
Labels: Area: VS Text Editor

#7506 Fixes VSTS 843514: Go to Base Declaration is missing
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7617 [release-8.1] TextEditor: Map and menu for multi-caret commands
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
  main/src/core/MonoDevelop.Ide/ExtensionModel/MainMenu.addin.xml
Labels: Area: VS Text Editor

#7618 [release-8.1] Fixes VSTS 843514: Go to Base Declaration is missing
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7615 [master] Fix Find commands availability.
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#7620 [release-8.1] TextEditor: Enable multi-caret commands during Find
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#7619 TextEditor: Enable multi-caret commands during Find
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.Commands.cs
Labels: Area: VS Text Editor

#7632 TextEditor: Put multi-caret commands in "Text Editor" category
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7633 [release-8.1] TextEditor: Put multi-caret commands in \u0022Text Editor\u0022 category
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/Properties/MonoDevelop.TextEditor.addin.xml
Labels: Area: VS Text Editor

#7640 [master] Update the VS Editor NuGets to 16.1 when building on Windows.
  main/Directory.Build.props
  main/msbuild/ReferencesVSEditor.Windows.props
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Wpf/MonoDevelop.TextEditor.Wpf.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Wpf/Properties/MonoDevelop.TextEditor.Wpf.addin.xml
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
Labels: Area: VS Text Editor

#7630 Fix 762833: Implement selection drag and drop within/across text views
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
Labels: Area: VS Text Editor

#7655 [release-8.1] Fix 762833: Implement selection drag and drop within/across text views
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
Labels: Area: VS Text Editor

#7523 [Version Control] Changing between branches we stopped seeing the list of available branches
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/Commands.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitConfigurationDialog.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitRepository.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl.Git/MonoDevelop.VersionControl.Git/GitService.cs
Labels: Area: Version Control, verified

#7663 [Logging] Fix stacktraces not being written to log files
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/GLibLogging.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Gui/GLibLoggingTests.cs
  main/tests/MacPlatform.Tests/MacPlatformTest.cs
  main/tests/UnitTests/CapturingLogger.cs
  main/tests/UnitTests/UnitTests.csproj
Labels: verified

#7668 TextViewContent: API change to get file change notifications working again
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#7669 [release-8.1] TextViewContent: API change to get file change notifications working again
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/TextViewContent.cs
Labels: Area: VS Text Editor

#7667 Fix tab stacking issue in designers
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Tabstrip.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/DocumentManager.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/GtkShellDocumentViewContainer.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/GtkShellDocumentViewContainerSplit.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/GtkShellDocumentViewContainerTabs.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/GtkShellDocumentViewItem.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Shell/SdiWorkspaceWindow.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Styles.cs
Labels: verified

#7675 Preserve C# documents added by Razor when reloading a project.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TypeSystemService_WorkspaceHandling.cs
Labels: Area: Roslyn Integration, Area: Web Tools\Web Editors

#7711 [release-8.1] Packaging: More thread-safety in NuGetPackageServicesProxy
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Refactoring/NuGetPackageServicesProxy.cs
Labels: Area: VS Text Editor

#7701 Packaging: More thread-safety in NuGetPackageServicesProxy
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Refactoring/NuGetPackageServicesProxy.cs
Labels: Area: VS Text Editor

#7717 Updated reference to xamarin/md-addins@cdd7e39
  version-checks
Labels: Area: VS Text Editor

#7722 Updated reference to xamarin/md-addins@0b2e210
  version-checks
Labels: Area: VS Text Editor

#7719 [release-8.1] Fixes VSTS 733501: Go To Line Number
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
Labels: Area: VS Text Editor

#7714 Fixes VSTS 733501: Go To Line Number
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
Labels: Area: VS Text Editor

#7728 [release-8.1] Updated reference to xamarin/md-addins@b74dfd0
  version-checks
Labels: Area: VS Text Editor

#7639 [release-8.1] Update the VS Editor NuGets to 16.1 when building on Windows.
  main/Directory.Build.props
  main/msbuild/ReferencesVSEditor.Windows.props
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Wpf/MonoDevelop.TextEditor.Wpf.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Wpf/Properties/MonoDevelop.TextEditor.Wpf.addin.xml
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
Labels: Area: VS Text Editor

#7694 [NuGet] Update to NuGet 5.1
  main/build/MacOSX/BinaryCompatBaseline.txt
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.Helpers/FakePackageSearchMetadata.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.csproj
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.csproj
  main/src/core/MonoDevelop.Startup/app.config
Labels: do-not-merge

#7739 Integrate Changed lines margin and map used colors
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor/ThemeToClassification.cs
Labels: Area: VS Text Editor

#7605 Fixes VSTS Bug 866898: Project file not reloaded in editor after
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/SourceEditorView.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/InternalExtensionAPI/ITextEditorImpl.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditor.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditorViewContent.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Documents/TextBufferFileModel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
Labels: verified
