Repository mono/monodevelop, pull requests merged in 2020-01, with the labels that each got.

#9498 [AspNetCore] Enable support for launchSettings.json in Worker services
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreProjectExtension.cs
Labels: Area: .NET Core

#9500 [AspNetCore] Default "launchBrowser" to false
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreRunConfiguration.cs
Labels: Area: Web Tools\ASP.NET Core

#9501 [AspNetCore] Match item templates' descriptions to those in VS Win
  main/src/addins/MonoDevelop.AspNetCore/Templates/MVCViewImportsPage.xft.xml
  main/src/addins/MonoDevelop.AspNetCore/Templates/MVCViewLayoutPage.xft.xml
  main/src/addins/MonoDevelop.AspNetCore/Templates/MVCViewPage.xft.xml
  main/src/addins/MonoDevelop.AspNetCore/Templates/MVCViewStartPage.xft.xml
  main/src/addins/MonoDevelop.AspNetCore/Templates/MvcController.xft.xml
Labels: Area: Web Tools\ASP.NET Core

#9461 Remove preview branding
  version.config
Labels: MUST SHIP

#9440 Fix the footer color of the exception caught dialog
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/ExceptionCaughtDialog.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Styles.cs
Labels: verified

#9495 [AspNetCore] Move Worker template to general section
  main/src/addins/MonoDevelop.AspNetCore/Properties/MonoDevelop.AspNetCore.addin.xml
Labels: Area: .NET Core

#9400 [DotNetCore] Ignore unsupported SDKs in template wizard
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Templating/DotNetCoreProjectTemplateWizard.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests.csproj
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateWizardTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/TargetFrameworkTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSdk.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/TargetFrameworkMonikerExtensions.cs
Labels: Area: .NET Core

#7706 Fix 822175: Exception adornment scrolled outside of view
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/ExceptionCaught/ExceptionCaughtAdornmentManager.cs
Labels: Area: VS Text Editor, do-not-merge

#9527 Fixes VSTS 1005823: Adds icon for Go To Line navigation UI.
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/MonoDevelop.TextEditor.Cocoa.csproj
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/Properties/MonoDevelop.TextEditor.Cocoa.addin.xml
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16@2x.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~contrast.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~contrast@2x.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~contrast~dark.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~contrast~dark@2x.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~dark.png
  main/src/addins/MonoDevelop.TextEditor/MonoDevelop.TextEditor.Cocoa/icons/vs-go-to-line-16~dark@2x.png
Labels: Area: VS Text Editor

#9537 [AspNetCore] Don't create browser-based execution targets for Worker services
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
Labels: Area: .NET Core

#9496 [release-8.4] [AspNetCore] Move Worker template to general section
  main/src/addins/MonoDevelop.AspNetCore/Properties/MonoDevelop.AspNetCore.addin.xml
Labels: Area: .NET Core

#9523 [release-8.4] [DotNetCore] Ignore unsupported SDKs in template wizard
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Templating/DotNetCoreProjectTemplateWizard.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests.csproj
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/DotNetCoreProjectTemplateWizardTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore.Tests/MonoDevelop.DotNetCore.Tests/TargetFrameworkTests.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreSdk.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/TargetFrameworkMonikerExtensions.cs
Labels: Area: .NET Core

#9560 [release-8.4] [1049876] [Scaffolding] Added Accessible.Title property for input controls
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.Scaffolding/ScaffolderTemplateConfigurePage.cs
Labels: Area: Web Tools\ASP.NET Core

#9559 [1049876] [Scaffolding] Added Accessible.Title property for input controls
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore.Scaffolding/ScaffolderTemplateConfigurePage.cs
Labels: Area: Web Tools\ASP.NET Core

#9480 [Unit Test] Make the nesting logic for vstest and NUnit(Mono) consistent
  main/src/addins/MonoDevelop.UnitTesting.NUnit/MonoDevelop.UnitTesting.NUnit/NUnitAssemblyTestSuite.cs
  main/src/addins/MonoDevelop.UnitTesting.NUnit/MonoDevelop.UnitTesting.NUnit/NUnitTestSuite.cs
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.Tests/MonoDevelop.UnitTesting.Tests.csproj
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.Tests/MonoDevelop.UnitTesting.Tests/VsTestUnitTestTests.cs
  main/src/addins/MonoDevelop.UnitTesting/Services/UnitTest.cs
Labels: verified

#9538 [VsCodeDebugger] Implemented more GetRawValue cases in order to suppo…
  main/src/addins/MonoDevelop.Debugger.VSCodeDebugProtocol/MonoDevelop.Debugger.VsCodeDebugProtocol/VsCodeObjectSource.cs
Labels: verified

#9565 [1019742] Disable VBox controls before project creation
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Projects/GtkNewProjectDialogBackend.cs
Labels: verified

#9566 VSTS 1049891: aspx files no intellisense
  main/src/addins/AspNet/Properties/AddinInfo.cs
  main/src/addins/AspNet/Properties/MonoDevelop.AspNet.addin.xml
Labels: verified

#9548 [IDE] Allow deleting missing files from project
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/ProjectFileNodeBuilder.cs
Labels: verified

#9567 [Debugger] Tooltips should not be shown for conditional method invoca…
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger.VSTextView/QuickInfo/DebuggerQuickInfoSource.cs
Labels: verified

#9533 Fixes CommandHandler routing in native widgets
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands/CommandManager.cs
Labels: verified

#3698 [Debugger] Can't edit function breakpoint
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/BreakpointPad.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/BreakpointPropertiesDialog.cs
Labels: verified

#9499 [release-8.4] [AspNetCore] Enable support for launchSettings.json in Worker services
  main/src/addins/MonoDevelop.AspNetCore/MonoDevelop.AspNetCore/AspNetCoreProjectExtension.cs
  main/src/addins/MonoDevelop.DotNetCore/MonoDevelop.DotNetCore/DotNetCoreProjectExtension.cs
Labels: Area: .NET Core

#9586 [Debugger] Update exception options to include unhandled exception
  main/src/addins/MonoDevelop.Debugger.VSCodeDebugProtocol/MonoDevelop.Debugger.VsCodeDebugProtocol/VSCodeDebuggerSession.cs
Labels: verified
