Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

Updated reference to xamarin/md-addins@ce6485a
  version-checks
Owners: none

[Windows] Make pathtree tests pass
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: none

[Core] Add failing test for counters with no set metadata
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

[Instrumentation] Fix crash when converting null to valuetype
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[VCS] Guard against exceptions thrown by GetRepositoryReference
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlService.cs
Owners: @Therzok, @mkrueger

[Windows] Make pathtree tests pass
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: none

[Windows] Make pathtree tests pass
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: none

[Core] Optimize WorkspaceObject extension chain creation
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/WorkspaceObject.cs
Owners: @Therzok, @slluis, @mrward

[Core] Optimize ExtensionChain modification
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ExtensionChain.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/WorkspaceObject.cs
Owners: @Therzok, @slluis, @mrward

[Core] Add some ExtensionChain tests
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: none

[Core] Add more extension chain tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ExtensionChain.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: @Therzok, @slluis, @mrward

[PathTree] Fix up tree node removal when a node is inserted at the beginning
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

[PathTree] Fix up tree node removal when a node is inserted at the beginning
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

[Core] Add failing test for counters with no set metadata
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

[Instrumentation] Fix crash when converting null to valuetype
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[Instrumentation] Fix crash when converting null to valuetype
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[Core] Add failing test for counters with no set metadata
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

[Core] Improve error information on project load failure
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildFileFormatException.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildProject.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: @Therzok, @slluis, @mrward

[Core.Tests] Add test to check error for invalid MSBuild import
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: none

[PathTree] Fix up tree node removal when a node is inserted at the beginning
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

[IDE] Search results aren't shown with fullscreen and multiple monitors
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar/MainToolbarController.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Xwt/XwtThemedPopup.cs
Owners: @Therzok, @slluis, @sevoku

[IDE] Search results aren't shown with fullscreen and multiple monitors
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar/MainToolbarController.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Xwt/XwtThemedPopup.cs
Owners: @Therzok, @slluis, @sevoku

[VCS] Guard against exceptions thrown by GetRepositoryReference
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlService.cs
Owners: @Therzok, @mkrueger

[VCS] Guard against exceptions thrown by GetRepositoryReference
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/VersionControlService.cs
Owners: @Therzok, @mkrueger

[Core] ExtensionChain should not rechain if not needed
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ChainedExtension.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ExtensionChain.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: @Therzok, @slluis, @mrward

[Core] Add ExtensionChain querying tests
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: none

[Core] Dispose of the queried Extensions in ExtensionChain
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ExtensionChain.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: @Therzok, @slluis, @mrward

[VSTest] Fix potential UI hang
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.VsTest/VsTestDiscoveryAdapter.cs
Owners: none

[VSTest] Fix potential UI hang
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.VsTest/VsTestDiscoveryAdapter.cs
Owners: none

[Core] Add rechain test for batch modification
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/ExtensionChainTests.cs
Owners: none

Add some docs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ChainedExtension.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ExtensionChain.cs
Owners: @Therzok, @slluis, @mrward

[VSTest] Fix potential UI hang
  main/src/addins/MonoDevelop.UnitTesting/MonoDevelop.UnitTesting.VsTest/VsTestDiscoveryAdapter.cs
Owners: none

[VCS] Fix Review and Commit selection persisting through context menu
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/StatusView.cs
Owners: @Therzok, @mkrueger

[VCS] Fix Review and Commit selection persisting through context menu
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/StatusView.cs
Owners: @Therzok, @mkrueger

[IDE] Search results aren't shown with fullscreen and multiple monitors
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar/MainToolbarController.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Xwt/XwtThemedPopup.cs
Owners: @Therzok, @slluis, @sevoku

[Telemetry] Include the buckets in the typing event
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextEditorKeyPressTimings.cs
Owners: none

[Telemetry] Use CounterMetadata subclasses
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/GotoDefinition/GotoDefinitionService.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/Counters.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindDerivedSymbolsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindExtensionMethodsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindImplementingMembersHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindMemberOverloadsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/FindReferencesHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/GotoBaseDeclarationHandler.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/BackgroundPackageActionRunnerTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/TestableInstrumentationService.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/PackageManagementInstrumentationService.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/Repository.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/Counter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimeCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/CompletionStatistics.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Workbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/MicrosoftTemplateEngineProjectTemplatingProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/ProjectTemplate.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: @Therzok, @mkrueger, @slluis, @mrward

[Telemetry] Add a copy constructor
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[Telemetry] Remove unnecessary method
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
Owners: @Therzok, @slluis, @mrward

[Telemetry] Update the failing tests
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
