Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger

Fixes VSTS Bug 640356: IntelliSense/Type recognition breaks in editor
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/AbstractNavigationExtension.cs
Owners: @Therzok, @mkrueger

[Ide] Do not load locale sets on startup
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/LocalizationService.cs
Owners: @Therzok, @slluis

[Core] Log addin assemblies loaded
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Runtime.cs
Owners: @Therzok, @slluis, @mrward

[Core] Log addin load traces to help diagnose eager loading of addins
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Runtime.cs
Owners: @Therzok, @slluis, @mrward

[Ide] Lazy load mime type information
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
Owners: @Therzok, @slluis

[Core] Fix file system extensions loaded on startup
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/FileService.cs
Owners: @Therzok, @slluis, @mrward

[Core] Log addin assemblies loaded
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Runtime.cs
Owners: @Therzok, @slluis, @mrward

[Ide] Do not load locale sets on startup
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/LocalizationService.cs
Owners: @Therzok, @slluis

[Core] Log addin load traces to help diagnose eager loading of addins
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Runtime.cs
Owners: @Therzok, @slluis, @mrward

[Ide] Lazy load mime type information
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
Owners: @Therzok, @slluis

[Core] Fix file system extensions loaded on startup
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/FileService.cs
Owners: @Therzok, @slluis, @mrward

[Ide.Tests] Ensure Document is disposed
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/DocumentReloadTests.cs
Owners: none

[Ide.Tests] Ensure Document is disposed
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/DocumentReloadTests.cs
Owners: none

Updated reference to xamarin/md-addins@f5def14
  version-checks
Owners: none

Updated reference to xamarin/md-addins@077b174
  version-checks
Owners: none

Remove --caption from KdeTerminalRunner
  main/src/addins/GnomePlatform/GnomePlatform.cs
Owners: none

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

Remove GetPropertyName duplication
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
Owners: none

Reduce code duplication and remove underlying generic methods
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

[Roslyn] Fix serialization not using migration key paths
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferencesTests.cs
Owners: none

[Roslyn] Fix persister serialization logic
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopGlobalOptionPersister.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopOptionPersisterTests.cs
Owners: @Therzok, @slluis, @mrward

[Roslyn] Fix serialization not using migration key paths
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferencesTests.cs
Owners: none

[Roslyn] Fix persister serialization logic
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopGlobalOptionPersister.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopOptionPersisterTests.cs
Owners: @Therzok, @slluis, @mrward

Remove GetPropertyName duplication
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
Owners: none

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

Reduce code duplication and remove underlying generic methods
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

Updated reference to xamarin/md-addins@cd17cf9
  version-checks
Owners: none

Updated reference to xamarin/md-addins@31fd9df
  version-checks
Owners: none

Updated reference to xamarin/md-addins@3f8195c
  version-checks
Owners: none

Add React file types (.jsx, .tsx) in tmLanguage.json files.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScriptReact.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/typescript/syntaxes/TypeScriptReact.tmLanguage.json
Owners: @mkrueger

[Ide] Handled case where the workspace is no md workspace in the add reference code action operation.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopAddMetadataReferenceCodeActionOperationFactoryWorkspaceService.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[Ide] Handled case where the workspace is no md workspace in the add reference code action operation.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopAddMetadataReferenceCodeActionOperationFactoryWorkspaceService.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

Updated reference to xamarin/md-addins@2008680
  version-checks
Owners: none

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

Improve some docs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward

Test
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
Owners: @Therzok, @slluis, @mrward

Smarter root node handling
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Fix left-over from unit tests fix
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

[Core] Attempt at circumventing tests monitoring path root
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward
