Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

[Ide.Tests] Fixed failing unit test.
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/RegexTests.cs
Owners: none

Updated reference to xamarin/md-addins@3ba08f7
  version-checks
Owners: none

Updated reference to xamarin/md-addins@5144f84
  version-checks
Owners: none

Update the HTML Server-Side Script string to source.server.html.
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TagBasedSyntaxHighlighting.cs
Owners: none

Updating HTML Server-Side Script for more themes.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/OblivionStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/TangoStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/VisualStudioStyle.json
Owners: @mkrueger

[Ide.Tests] Fixed failing unit test.
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/RegexTests.cs
Owners: none

bump
  version-checks
Owners: none

[StructuredBuildOutput] Fixes Summary Links Cursor Display Fixes Bug #619943
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputTreeCellView.cs
Owners: none

[Ide] Disconnect all event handlers on dispose
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Ide] Restore the code to save/restore splitter position
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

Fixes Bug 627039: Editor occasionally becomes unresponsive to user input
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/Projection/Projection.cs
Owners: @mkrueger

Fixes Bug 627039: Editor occasionally becomes unresponsive to user input
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/Projection/Projection.cs
Owners: @mkrueger

Fixes Bug 627039: Editor occasionally becomes unresponsive to user input
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/Projection/Projection.cs
Owners: @mkrueger

Fixes issue #5186 'extensions' and 'default' are displayed in language bundles panel
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/LanguageBundle.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate/TextMateBundleOptionsPanelWidget.cs
Owners: @mkrueger

Fixes issue #5186 'extensions' and 'default' are displayed in language bundles panel
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/LanguageBundle.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate/TextMateBundleOptionsPanelWidget.cs
Owners: @mkrueger

Make Razor HTML Server-Side Script background yellow.
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TagBasedSyntaxHighlighting.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/Formats/OldFormat.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/DarkStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/LightStyle.json
Owners: @mkrueger

Updating HTML Server-Side Script for more themes.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/OblivionStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/TangoStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/VisualStudioStyle.json
Owners: @mkrueger

[Ide] Switched name of html server side script.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/Formats/OldFormat.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/OblivionStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/TangoStyle.json
Owners: @mkrueger

Update the HTML Server-Side Script string to source.server.html.
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TagBasedSyntaxHighlighting.cs
Owners: none

Updated reference to xamarin/md-addins@065a20a
  version-checks
Owners: none

Updated reference to xamarin/md-addins@79406c8
  version-checks
Owners: none

[PerformanceDiagnostics] Fix start/stop UI thread monitoring
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Add hang detection for telemetry
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Properties/PerformanceDiagnostics.addin.xml
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] No need to process samples when not sampling
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Removed unused stop watch timer
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Reduce send interval for hang detection
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Shutdown UI thread monitor on IDE exit
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Fix fatal exception when checking process
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Fix hang detected on force quitting IDE
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Fix fatal exception if socket receive fails
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Retry connection back to IDE
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Do not use stderror when not sampling
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Use task to read stderr output
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Remove startup command
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Properties/PerformanceDiagnostics.addin.xml
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Ensure stderr read on background thread.
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[Telemetry] Include the buckets in the typing event
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextEditorKeyPressTimings.cs
Owners: none

Fixes VSTS Bug 618235: Occasional "There was an error saving the changes" enabling code folding
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/SourceEditorWidget.cs
Owners: none

Fixes VSTS Bug 618235: Occasional "There was an error saving the changes" enabling code folding
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/SourceEditorWidget.cs
Owners: none

[Telemetry] Time the Alt+Enter command
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/QuickFixMenuHandler.cs
Owners: @Therzok, @mkrueger

[Telemetry] Track debugger session start times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebugExecutionHandlerFactory.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
