Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

[Telemetry] Update the typing timings to use the correct types
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextEditorKeyPressTimings.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/Counters.cs
Owners: none

Fix syntax highlighting not showing for some languages (TypeScript).
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
Owners: @mkrueger

Add a unit-test for TryScanJSonStyle().
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/SyntaxHighlightingTest_TextMate.cs
Owners: @mkrueger

Add global assembly references
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/RoslynCompilation.fs
Owners: none

Retrieve the FilePath of the type that an attribute is applied to
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpTypeSymbol.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
  main/external/fsharpbinding/paket.dependencies
  main/external/fsharpbinding/paket.lock
Owners: none

Use value equality for comparing types
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/NR5CompatibiltyExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TypeSystemService.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[MSBuild] Fix fatal exception on cancelling an MSBuild target being run
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.Shared.cs
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/ProjectBuilder.cs
Owners: none

Disable TestCDATASection failing test
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: none

Add a link to the GitHub issue for the ignored test.
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: none

[MSBuild] Fix fatal exception on cancelling an MSBuild target being run
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.Shared.cs
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/ProjectBuilder.cs
Owners: none

[Roslyn] Disable ClosedFileDiagnostic for C# by default
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
Owners: none

[CompositionManager] Add APIs that return lazily evaluated exports
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition/CompositionManager.cs
Owners: @Therzok, @KirillOsenkov

[Ide] Fixup PlatformService to use GetExport rather than wrap the value in a lazy
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
Owners: @Therzok, @slluis

[Ide] Fixup PlatformService to use GetExport rather than wrap the value in a lazy
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop/PlatformService.cs
Owners: @Therzok, @slluis

[CompositionManager] Add APIs that return lazily evaluated exports
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition/CompositionManager.cs
Owners: @Therzok, @KirillOsenkov

[Ide] Fixed failing unit test.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: @mkrueger

[VCS] Fix Review and Commit selection persisting through context menu
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/StatusView.cs
Owners: @Therzok, @mkrueger

Updated reference to xamarin/md-addins@41d0c69
  version-checks
Owners: none

Wrap the test in using statements.
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/SyntaxHighlightingTest_TextMate.cs
Owners: none

Fix Windows build.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar/MainToolbarController.cs
Owners: @Therzok

Add a link to the GitHub issue for the ignored test.
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: none

Fix syntax highlighting not showing for some languages (TypeScript).
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
Owners: @mkrueger

Disable TestCDATASection failing test
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: none

[Ide] Fixed failing unit test.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: @mkrueger

Add a unit-test for TryScanJSonStyle().
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/SyntaxHighlightingService.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/SyntaxHighlightingTest_TextMate.cs
Owners: @mkrueger

Wrap the test in using statements.
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/SyntaxHighlightingTest_TextMate.cs
Owners: none

[Xml] Implement Expand/Shrink selection for XML
  main/src/addins/Xml/Dom/XAttributeCollection.cs
  main/src/addins/Xml/Editor/BaseXmlEditorExtension.cs
  main/src/addins/Xml/Editor/XmlExpandSelectionHandler.cs
  main/src/addins/Xml/MonoDevelop.Xml.csproj
  main/src/addins/Xml/Tests/ExpandSelectionTests.cs
  main/src/addins/Xml/Tests/MonoDevelop.Xml.Tests.csproj
Owners: none

Fix 585147: Code in indented @{} block jumps up a line when committed
  main/src/addins/CSharpBinding/MonoDevelop.Ide.Completion.Presentation/MonoDevelopContainedDocument.cs
Owners: @Therzok, @mkrueger

Use the proper new line setting from the editor.
  main/src/addins/CSharpBinding/MonoDevelop.Ide.Completion.Presentation/MonoDevelopContainedDocument.cs
Owners: @Therzok, @mkrueger

Fix 585147: Code in indented @{} block jumps up a line when committed
  main/src/addins/CSharpBinding/MonoDevelop.Ide.Completion.Presentation/MonoDevelopContainedDocument.cs
Owners: @Therzok, @mkrueger

[StructuredOutput] Makes Navigation link trimmed Fixes Bug 621000 https://devdiv.visualstudio.com/DevDiv/_workitems/edit/621000
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputTreeCellView.cs
Owners: none

[BuildOutput] Show spinner when solution is building
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutput.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

[BuildOutput] Use disabled image for search arrows
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

[BuildOutput] Expand project nodes always
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

[BuildOutput] Make toolbar's size match other pads'
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

[Telemetry] Temporarily pass all metadata values as strings
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

Add support for retrieving type source location
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
  main/external/fsharpbinding/paket.lock
Owners: none

Updated reference to xamarin/md-addins@6c8ad32
  version-checks
Owners: none

[StressTest] Fix build
  main/tests/StressTest/StressTest.csproj
Owners: none

Revert "[Telemetry] Temporarily pass all metadata values as strings"
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
