Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @iainx, @mono/monodevelop-roslyn, @mono/monodevelop-infrastructure, @mrward, @nosami, @iantoalms, @rodrmoya, @mono/monodevelop-core-owners, @slluis, @sevoku, @netonjm, @mkrueger, @DavidKarlas

Updated reference to xamarin/md-addins@81b9666
  version-checks
Owners: none

Updated reference to xamarin/md-addins@dd143d6
  version-checks
Owners: none

Updated reference to xamarin/md-addins@aaac2c3
  version-checks
Owners: none

Testing VO announcements.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Dialogs/PolicyOptionsPanel.cs
Owners: none

Updated references to mono/xwt, xamarin/md-addins
  version-checks
Owners: none

Updated reference to xamarin/md-addins@9396817
  version-checks
Owners: none

[AutoTest] Fix some cocoa queries being a bit too restrictive (#8822)
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AutoTest.Results/NSObjectResult.cs
Owners: none

[Ide] Improve Information Popover accessibility
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/InformationPopoverWidget.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/TooltipPopoverWindow.cs
Owners: @slluis, @sevoku

Fixes VSTS Bug 983399: [VersionControl] Credential dialog is on top of all applications
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Window.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Dialogs/ProgressDialog.cs
Owners: @slluis, @sevoku

[NuGet] Fix projects not being re-evaluated after packages updated
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/InstallPackageWithAvailableItemNameTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/MonoDevelopBuildIntegratedRestorer.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/MonoDevelopNuGetPackageManager.cs
  main/tests/test-projects/NuGetUpdateAvailableItems/NuGetUpdateAvailableItems.sln
  main/tests/test-projects/NuGetUpdateAvailableItems/PackageReferenceProject/PackageReferenceProject.csproj
  main/tests/test-projects/NuGetUpdateAvailableItems/SdkStyleProject/SdkStyleProject.csproj
Owners: none

[NuGet] Update multiple packages together in a batch
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Gui/ManagePackagesDialog.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.Helpers/FakeNuGetPackageManager.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.Helpers/FakeNuGetProjectContext.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.Helpers/FakePackageRestoreManager.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.Helpers/TestableUpdateMultipleNuGetPackagesAction.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests.csproj
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/ManagePackagesViewModelTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/UpdateMultipleNuGetPackagesActionTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/UpdateStrictPackageDependenciesTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/UpdateXamarinFormsBuildTest.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.csproj
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/INuGetPackageManager.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/ManagePackagesViewModel.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/MonoDevelopNuGetPackageManager.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/ProjectReferenceMaintainerCollection.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/UpdateAllNuGetPackagesInProjectAction.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/UpdateMultipleNuGetPackagesAction.cs
  main/tests/test-projects/StrictNuGetDependency/StrictNuGetDependency.csproj
  main/tests/test-projects/StrictNuGetDependency/StrictNuGetDependency.csproj-saved
  main/tests/test-projects/StrictNuGetDependency/StrictNuGetDependency.sln
Owners: none

Updated reference to xamarin/md-addins@c1a796f
  version-checks
Owners: none

Fix 985131: Unable to pull up the emoji selector
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands/CommandManager.cs
Owners: @slluis

Revert "[Mac] Remove hardcoded thread suspending mode (#7800)"
  main/build/MacOSX/Makefile.am
  main/build/MacOSX/monostub.mm
Owners: @Therzok, @iainx

Revert "[Mac] Remove hardcoded thread suspending mode (#7800)"
  main/build/MacOSX/Makefile.am
  main/build/MacOSX/monostub.mm
Owners: @Therzok, @iainx

Fix 985131: Unable to pull up the emoji selector
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands/CommandManager.cs
Owners: @slluis

Updated reference to xamarin/md-addins@44c4d2a
  version-checks
Owners: none

Updated reference to xamarin/md-addins@02b9312
  version-checks
Owners: none

Updated references to microsoft/vs-editor-api, xamarin/md-addins
  version-checks
Owners: none

Updated submodule references
  .gitmodules
Owners: none

Updated reference to xamarin/md-addins@8bc5052
  version-checks
Owners: none

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/build/MacOSX @Therzok @iainx
/main/Directory.Build.props @mono/monodevelop-roslyn @mono/monodevelop-infrastructure
/main/msbuild/RoslynVersion.props @mono/monodevelop-roslyn
/main/src/addins/CSharpBinding @mono/monodevelop-roslyn
/main/src/addins/MonoDevelop.AspNetCore @mrward @nosami @iantoalms @rodrmoya
/main/src/addins/MonoDevelop.DotNetCore @mrward @nosami @iantoalms @rodrmoya
/main/src/addins/PerformanceDiagnostics @mono/monodevelop-infrastructure
/main/src/core/MonoDevelop.Core @mono/monodevelop-core-owners
/main/src/core/MonoDevelop.Core/MonoDevelop.FSW @Therzok
/main/src/core/MonoDevelop.Core/MonoDevelop.Utilities @mono/monodevelop-infrastructure
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView @netonjm @rodrmoya
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs @netonjm @rodrmoya
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @mono/monodevelop-roslyn @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/tests/IdeUnitTests @mono/monodevelop-infrastructure
/main/tests/UnitTests @mono/monodevelop-infrastructure
/main/src/tools/ExtensionTools @mono/monodevelop-infrastructure
