Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger

Don't strip newlines from the label tooltip
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/MonoDevelopStatusBar.cs
Owners: @slluis

Use the bottom status bar area for F# tooltip
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/StatusBarTooltip.fs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/MonoDevelopStatusBar.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Workbench.cs
Owners: @slluis

[MSBuild] On thread abort run end build operation
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
Owners: none

[MSBuild] On thread abort run end build operation
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
Owners: none

[MSBuild] Check STA thread is used when ending build operation
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
Owners: none

[MSBuild] Check STA thread is used when ending build operation
  main/src/core/MonoDevelop.Projects.Formats.MSBuild/MonoDevelop.Projects.MSBuild/BuildEngine.cs
Owners: none

[Core] Include project capabilities in the FirstBuild telemetry
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
Owners: @Therzok, @slluis, @mrward

[Core] Include project capabilities in the FirstBuild telemetry
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
Owners: @Therzok, @slluis, @mrward

[Xml] Switch Stack to ImmutableStack
  main/src/addins/Xml/Editor/XmlExpandSelectionHandler.cs
Owners: none

Updated reference to xamarin/md-addins@7ee4fef
  version-checks
Owners: none

[Telemetry] Add UpdateProjectEventMetadata to ProjectExtension
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectExtension.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
Owners: @Therzok, @slluis, @mrward

[CommentTasks] Prevent possible error when removing a document
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks/CommentTasksProvider.cs
Owners: @Therzok

[Ide][Mac] Fix closed window handling in IdeTheme
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components/IdeTheme.cs
Owners: @slluis, @sevoku

Updated reference to xamarin/md-addins@8428d64
  version-checks
Owners: none

Update reference to md-addins
  version-checks
Owners: none

Updated reference to xamarin/md-addins@751572b
  version-checks
Owners: none

Update compat baseline
  main/build/MacOSX/BinaryCompatBaseline.txt
Owners: none

[Telemetry] Move metadata extension to SolutionItemExplorer.OnGetProjectEventMetadata()
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectExtension.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItemExtension.cs
Owners: @Therzok, @slluis, @mrward

Updated reference to xamarin/md-addins@e186655
  version-checks
Owners: none

Update version-checks for md-addins tests fix
  version-checks
Owners: none

[BuildOutput] Sync ViewContentName with current location
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

[BuildOutput] Don't display redundant task names
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/MSBuildOutputProcessor.cs
Owners: none

[CSharpBinding] Use VS.NET text editor indentation for C#.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpIndentVirtualSpaceManager.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
Owners: @Therzok, @mkrueger

[Ide] Disabled some formatting unit tests.
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/OnTheFlyFormatterTests.cs
Owners: none

[Ide] Fixed unit tests.
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionEditorExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/EditorFormattingServiceTextEditorExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[CSharpBinding] Added auto format integration tests.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/EditorFormattingServiceTextEditorExtension.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding.Tests.csproj
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/AutoFormatIntegrationTests.cs
Owners: @Therzok, @mkrueger

[Ide] Roslyn completion is now using the IEditorFormattingService for post formatting.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionData.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion/RoslynCompletionData.cs
Owners: @Therzok, @mkrueger, @slluis

[CSharpBinding] Use IEditorFormattingService for on the fly formatting.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
Owners: @Therzok, @mkrueger

Fixes VSTS Bug 643311: Cut & paste string conversion is broken.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/IndentEngine/TextPasteIndentEngine.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.PasteFormattingRule.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.PasteStrategy.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.TextPasteUtils.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/Features/IndentationTests/StringTests.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/Features/IndentationTests/TextPasteIndentEngineTests.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/CSharpTextEditorIndentationTests.cs
Owners: @Therzok, @mkrueger

[SourceEditor] Fix unnecessary private reference
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.csproj
Owners: none

[CSharpBinding] Implemented format on paste using the roslyn IEditorFormattingService.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/EditorFormattingServiceTextEditorExtension.cs
Owners: @Therzok, @mkrueger

[Ide] Implemented format on type & return using IEditorFormattingService.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
  main/src/core/MonoDevelop.Ide/ExtensionModel/MonoDevelop.Ide.addin.xml
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/EditorFormattingServiceTextEditorExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Owners: @Therzok, @mkrueger, @slluis, @DavidKarlas

[CSharpBinding] Fix unit tests.
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding.Tests.csproj
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/CSharpAutoInsertBracketHandlerTests.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/ExpandSelectionHandlerTests.cs
Owners: none

[CSharpBinding] Mapped VS.NET on type behavior options & added an option panel.
  main/src/addins/CSharpBinding/CSharpBinding.addin.xml
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/OnTheFlyFormattingPanel.cs
  main/src/addins/MonoDevelop.SourceEditor2/Gui/MonoDevelop.SourceEditor.OptionPanels.BehaviorPanel.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.OptionPanels/BehaviorPanel.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.csproj
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/SourceEditorWidget.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl.Views/CommonTextEditorOptions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/EditorFormattingServiceTextEditorExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate/TextMateIndentationTextEditorExtension.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/DefaultSourceEditorOptions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[CSharpBinding] Removed the OnTheFlyFormatter. IEditorFormattingService is a drop-in replacement.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.CodeGeneration/AbstractGenerateAction.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/OnTheFlyFormatter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Highlighting/CSharpSelectionSurroundingProvider.cs
Owners: @Therzok, @mkrueger

[SourceEditor] Fixed C# brace completion.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/OnTheFlyFormattingPanel.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp/SignatureMarkupCreator.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/DefaultAutoInsertBracketHandler.cs
Owners: @Therzok, @mkrueger

[CSharpBinding] Fixed bug in c# indentation tracker.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpIndentationTracker.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextEditorIndentation.cs
Owners: @Therzok, @mkrueger

[C#] Remove registration of deleted class
  main/src/addins/CSharpBinding/CSharpBinding.addin.xml
Owners: @Therzok, @mkrueger

Fixes issue #3638 Port brace completion to EditorFeatures
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/AbstractTokenBraceCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/CSharpAutoInsertBracketHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/BracketCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/CharLiteralCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/CurlyBraceCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/InterpolatedStringCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/InterpolationCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/LessAndGreaterThanCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/ParenthesisCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/AutoInsertBracket/Sessions/StringLiteralCompletionSession.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionAdornmentService.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionAdornmentServiceFactory.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionAggregator.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionAggregatorFactory.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionDefaultSession.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionEditorExtension.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionManager.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionManagerFactory.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/BraceCompletionStack.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionAdornmentService.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionAdornmentServiceFactory.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionAggregator.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionAggregatorFactory.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionMetadata.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.Braces/IBraceCompletionStack.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.addin.xml
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor.csproj
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion/RoslynCompletionData.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding.Tests.csproj
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/OnTheFlyFormatterTests.cs
Owners: @Therzok, @mkrueger, @slluis, @DavidKarlas

[CSharpBinding] Fixed unit tests
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
Owners: @Therzok, @mkrueger
