Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

[Ide] Properly rename MonoDevelopErrorReportingServiceFactory
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

[Core] LoggingService now keeps track of the Ide log file
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/LoggingService.cs
Owners: @Therzok, @slluis, @mrward

[Ide] When Roslyn wants to show detailed info, open the log file if it's redirected
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

[Ide] Properly rename MonoDevelopErrorReportingServiceFactory
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

[Ide] When Roslyn wants to show detailed info, open the log file if it's redirected
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

[Core] LoggingService now keeps track of the Ide log file
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/LoggingService.cs
Owners: @Therzok, @slluis, @mrward

Creates views for each nodeview type and each manages it's own draw logic
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputNode.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputTreeCellView.cs
Owners: none

Updated reference to xamarin/md-addins@66d60ce
  version-checks
Owners: none

[StructuredBuildOutput] Fixes Summary Links Cursor Display Fixes Bug #619943
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputTreeCellView.cs
Owners: none

Fixes VSTS Bug 638359: Update JS/TS tmLanguage files
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScript.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScriptReact.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/Regular Expressions (JavaScript).tmLanguage
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/typescript/syntaxes/TypeScript.tmLanguage.json
Owners: @mkrueger

Add compilation provider extension point
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/RoslynCompilation.fs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/ICompilation.cs
  main/src/core/MonoDevelop.Ide/ExtensionModel/MonoDevelop.Ide.addin.xml
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TypeSystemService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TypeSystemService_WorkspaceHandling.cs
Owners: @Therzok, @slluis, @mrward, @mkrueger, @DavidKarlas

Fixes issue #5212 Show scopes command includes markup.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate/ShowTextMateScopesHandler.cs
Owners: @mkrueger

Add compilation GlobalNamespace
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/RoslynCompilation.fs
  main/external/fsharpbinding/paket.lock
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/ICompilation.cs
Owners: @Therzok, @slluis, @mrward

Updated reference to xamarin/md-addins@614c748
  version-checks
Owners: none

Updated reference to xamarin/md-addins@e2f8e21
  version-checks
Owners: none

Updated reference to xamarin/md-addins@cea507f
  version-checks
Owners: none

[Build] Fix incorrect Optimize default
  main/msbuild/MonoDevelop.BeforeCommon.targets
Owners: none

Update resource naming policy
  main/Main.sln
Owners: none

Obsolete legacy build APIs
  main/src/addins/AspNet/Projects/AspNetAppProjectFlavor.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Project/CSharpProjectExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp/CSharpBindingCompilerManager.cs
  main/src/addins/Deployment/MonoDevelop.Deployment/MonoDevelop.Deployment/DefaultDeployServiceExtension.cs
  main/src/addins/ILAsmBinding/ILAsmProject.cs
  main/src/addins/MonoDevelop.GtkCore/MonoDevelop.GtkCore.GuiBuilder/GuiBuilderService.cs
  main/src/addins/MonoDevelop.Packaging/MonoDevelop.Packaging/PackagingProject.cs
  main/src/addins/VBNetBinding/Project/VBProjectExtension.cs
  main/src/addins/VBNetBinding/VBBindingCompilerServices.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MD1/MD1DotNetProjectHandler.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/DotNetProject.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/DotNetProjectExtension.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectExtension.cs
Owners: @Therzok, @mkrueger, @slluis, @mrward

[Win32] Disable broken fullscreen command
  main/src/addins/WindowsPlatform/WindowsPlatform/WindowsPlatform.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Commands/ViewCommands.cs
Owners: none

[Ide] Fix restoring fullscreen state
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/DefaultWorkbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Workbench.cs
Owners: @slluis

Make Razor HTML Server-Side Script background yellow.
  main/src/addins/MonoDevelop.SourceEditor2/VSEditor/TagBasedSyntaxHighlighting.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/Formats/OldFormat.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/DarkStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/LightStyle.json
Owners: @mkrueger

[Ide] Switched name of html server side script.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/Formats/OldFormat.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/OblivionStyle.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/themes/TangoStyle.json
Owners: @mkrueger

[CSharpBinding] Fixed unit tests.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.IDebuggerExpressionResolver.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
Owners: @Therzok, @mkrueger

[CSharpBinding] Language tooltip provider is now more strict at popup popup location.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Tooltips/LanguageItemTooltipProvider.cs
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextArea.cs
Owners: @Therzok, @mkrueger

Fixes issue #5100 Debugger tooltip not always displayed
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/CSharpLanguageDebugInfoService.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/DataTipInfoGetter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/DebuggerExpressionResolver.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/LocationInfoGetter.cs
Owners: @Therzok, @mkrueger

[CSharpBinding] Removed debug code.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/EditorConfigService.cs
Owners: @Therzok, @mkrueger

Fixes issue #5178 EditorConfig settings not applied to new file added to project
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/EditorConfigService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/SingleFileDescriptionTemplate.cs
Owners: @Therzok, @mkrueger

Fix build script to allow for no AssemblyName in project files
  main/external/fsharpbinding/build.fsx
Owners: none

Fixes VSTS Bug 595108: [Feedback] VS for MAC 7.4 and 7.5 preview: javascript syntax highlighting breaks when passing parameter to a function
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/RegexEngine/Regex.cs
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: @mkrueger

Fixes VSTS Bug 595108: [Feedback] VS for MAC 7.4 and 7.5 preview: javascript syntax highlighting breaks when passing parameter to a function
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/RegexEngine/Regex.cs
  main/src/core/MonoDevelop.TextEditor.Tests/Mono.TextEditor.Tests/SyntaxHighlightingTests.cs
Owners: @mkrueger

Fixes VSTS Bug 638359: Update JS/TS tmLanguage files
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScript.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScriptReact.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/Regular Expressions (JavaScript).tmLanguage
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/typescript/syntaxes/TypeScript.tmLanguage.json
Owners: @mkrueger

Fixes issue #5212 Show scopes command includes markup.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate/ShowTextMateScopesHandler.cs
Owners: @mkrueger

[Ide] Re-add old text log viewer
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Ide] Disconnect from button events when disposing
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

Updated reference to xamarin/md-addins@db48562
  version-checks
Owners: none

Updated reference to xamarin/md-addins@6719d97
  version-checks
Owners: none

[build] Fix PerformanceDiagnostics not being built for ReleaseMac
  main/Main.sln
Owners: none

Updated reference to xamarin/md-addins@5265327
  version-checks
Owners: none

Updated reference to xamarin/md-addins@d8a4b41
  version-checks
Owners: none

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
