Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger

[Roslyn] Disable ClosedFileDiagnostic for C# by default
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.AnalysisCore/Gui/AnalysisOptionsPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/FullSolutionAnalysisTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Owners: @Therzok, @mkrueger, @DavidKarlas

[Telemetry] Add a copy constructor
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[Telemetry] Update the typing timings to use the correct types
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextEditorKeyPressTimings.cs
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/Counters.cs
Owners: none

[Telemetry] Update the failing tests
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

[Telemetry] Remove unnecessary method
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
Owners: @Therzok, @slluis, @mrward

[Telemetry] Use CounterMetadata subclasses
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/GotoDefinition/GotoDefinitionService.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/Counters.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindDerivedSymbolsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindExtensionMethodsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindImplementingMembersHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindMemberOverloadsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/FindReferencesHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/GotoBaseDeclarationHandler.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/BackgroundPackageActionRunnerTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/TestableInstrumentationService.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/PackageManagementInstrumentationService.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/Repository.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/Counter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimeCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/CompletionStatistics.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Workbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/MicrosoftTemplateEngineProjectTemplatingProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/ProjectTemplate.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: @Therzok, @mkrueger, @slluis, @mrward

Revert "[Telemetry] Temporarily pass all metadata values as strings"
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

[Telemetry] Temporarily pass all metadata values as strings
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
Owners: @Therzok, @slluis, @mrward

Updated reference to xamarin/md-addins@f96a1e6
  version-checks
Owners: none

Updated reference to xamarin/md-addins@9b74953
  version-checks
Owners: none

Update Roslyn.FSharp
  main/external/fsharpbinding/paket.lock
Owners: none

Fix build script to allow for no AssemblyName in project files
  main/external/fsharpbinding/build.fsx
Owners: none

Added target for deploying tests
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/Test.cs
  main/tests/performance/MonoDevelop.Ide.PerfTests/packages.config
  main/tests/performance/PerfTool/PerfTool.csproj
  main/tests/performance/PerfTool/Program.cs
  main/tests/performance/PerfTool/Properties/AssemblyInfo.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
Owners: none

[PerfTests] Update the project files to put the builds in the right place
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
  main/tests/performance/MonoDevelop.PerformanceTesting/MonoDevelop.PerformanceTesting.csproj
  main/tests/performance/PerfTool/PerfTool.csproj
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.csproj
Owners: none

[PerfTests] Time the application startup
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/UITestBase.cs
Owners: none

Remove lluis' local path
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
Owners: none

Initial work on performance test suite
  main/Main.sln
  main/src/addins/MonoDevelop.DesignerSupport/gtk-gui/generated.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/PerformanceDiagnosticsAddIn.csproj
  main/tests/MacPlatform.Tests/CarbonTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/StressTest/StressTest.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/Test.cs
  main/tests/performance/MonoDevelop.PerformanceTesting/Benchmark.cs
  main/tests/performance/MonoDevelop.PerformanceTesting/BenchmarkAttribute.cs
  main/tests/performance/MonoDevelop.PerformanceTesting/MonoDevelop.PerformanceTesting.csproj
  main/tests/performance/MonoDevelop.PerformanceTesting/Properties/AssemblyInfo.cs
  main/tests/performance/MonoDevelop.PerformanceTesting/packages.config
  main/tests/performance/PerfTool/PerfTool.csproj
  main/tests/performance/PerfTool/TestResults.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/NewFileController.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/NewProjectController.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/NuGetController.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/NuGetOptions.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/OptionsController.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.Controllers/SolutionExplorerController.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting.csproj
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/CreateBuildTemplatesTestBase.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/CreateProjectException.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/Ide.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/IdeQuery.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/LogMessageValidator.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/NuGetException.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/ProcessUtils.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/TemplateSelectionException.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/TemplateTestOptions.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/TestService.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/UITestBase.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/UITestDebug.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/Util.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/Workbench.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/Properties/AssemblyInfo.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/packages.config
Owners: none

[PerfTests] Process the results to check for any regressions
  main/tests/Makefile.am
Owners: none

[PerfTests] Add a baseline to compare against
  main/tests/performance/baseline/Baseline.xml
Owners: none

[PerfTests] add makefile rules for performance testing
  Makefile
  main/Makefile.am
  main/tests/Makefile.am
Owners: none

[PerfTests] Delete the fake test
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/Test.cs
Owners: none

[PerfTests] Add a counter for timing the TypeService
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @mkrueger, @DavidKarlas, @slluis

[PerfTests] Use an example solution and copy it into the test build
  main/tests/Makefile.am
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
  main/tests/performance/test-solutions/ExampleFormsSolution.zip
Owners: none

Ignore TestTimeToCode until it is fully relocatable
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
Owners: none

[PerfTests] Move the example file to the correct folder
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestSolutions/ExampleFormsSolution.zip
Owners: none

[PerfTests] Add a test timing the time to code
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/UITestBase.cs
Owners: none

Deploy baseline file together with tests
  main/tests/performance/MonoDevelop.Ide.PerfTests/Baseline_MonoDevelop.Ide.PerfTests.xml
  main/tests/performance/MonoDevelop.Ide.PerfTests/MonoDevelop.Ide.PerfTests.csproj
Owners: none

[PerfTests] Add command to update Baseline results
  main/tests/performance/PerfTool/Program.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
Owners: none

Improve error reporting of PerfTool
  main/tests/performance/PerfTool/Program.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
Owners: none

[PerfTests] Call the correct method for opening documents
  main/tests/ui/MonoDevelop.UserInterfaceTesting/MonoDevelop.UserInterfaceTesting/Ide.cs
Owners: none

[PerfTools] Output improvements as well as regressions
  main/tests/performance/PerfTool/Program.cs
  main/tests/performance/PerfTool/TestResults.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
Owners: none

[PerfTests] TimeToCode is relocatable now
  main/tests/performance/MonoDevelop.Ide.PerfTests/TestStartup.cs
Owners: none

Fix parsing of performance test errors
  main/tests/performance/PerfTool/TestResults.cs
  main/tests/performance/PerfTool/TestSuiteResult.cs
Owners: none

[PerfTests] Clean up
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @slluis

[Roslyn] Disable ClosedFileDiagnostic for C# by default
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.AnalysisCore/Gui/AnalysisOptionsPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/FullSolutionAnalysisTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Owners: @Therzok, @mkrueger, @DavidKarlas

[Roslyn] Disable ClosedFileDiagnostic for C# by default
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.AnalysisCore/Gui/AnalysisOptionsPanel.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/FullSolutionAnalysisTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Owners: @Therzok, @mkrueger, @DavidKarlas

Add tooltips to the status bar on caret moves.
  main/external/fsharpbinding/MonoDevelop.FSharp.Gui/FSharpSettingsWidget.cs
  main/external/fsharpbinding/MonoDevelop.FSharp.Gui/gtk-gui/MonoDevelop.FSharp.Gui.FSharpSettingsWidget.cs
  main/external/fsharpbinding/MonoDevelop.FSharp.Gui/gtk-gui/gui.stetic
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpOptionsPanels.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
Owners: none

Fix off by one error
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/StatusBarTooltip.fs
Owners: none

Add tooltips to the status bar on caret moves.
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/StatusBarTooltip.fs
Owners: none

Add accessibility attributes
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/MonoDevelopStatusBar.cs
Owners: @slluis
