Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

[Telemetry] Track debugger action times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Use a generic timer so we don't need to pass the metadata
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Ensure all queued UI events are handled before stopping timer
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Add a TimeToCode metric
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @iainx, @sevoku, @mkrueger, @slluis

[CSharpBinding] Fix build.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
Owners: @Therzok, @mkrueger

[Telemetry] Use a timer to decide whether to track TimeToCode
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
Owners: @Therzok, @slluis

Fixes issue #5100 Debugger tooltip not always displayed
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/CSharpLanguageDebugInfoService.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/DataTipInfoGetter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/DebuggerExpressionResolver.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Resolver/LocationInfoGetter.cs
Owners: @Therzok, @mkrueger

[CSharpBinding] Fixed unit tests.
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.IDebuggerExpressionResolver.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Completion/CSharpCompletionTextEditorExtension.cs
Owners: @Therzok, @mkrueger

[CSharpBinding] Language tooltip provider is now more strict at popup popup location.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Tooltips/LanguageItemTooltipProvider.cs
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextArea.cs
Owners: @Therzok, @mkrueger

[CSharBinding] Fixed build error.
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
Owners: @Therzok, @mkrueger

[Ide] Disconnect all event handlers on dispose
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Ide] Disconnect from button events when disposing
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Ide] Re-add old text log viewer
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Ide] Restore the code to save/restore splitter position
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads/ErrorListPad.cs
Owners: none

[Telemetry] Include the buckets in the typing event
  main/src/addins/MonoDevelop.SourceEditor2/Mono.TextEditor/Gui/TextEditorKeyPressTimings.cs
Owners: none

[Telemetry] Update the failing tests
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: none

[Telemetry] Use CounterMetadata subclasses
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Features/GotoDefinition/GotoDefinitionService.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/Counters.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindDerivedSymbolsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindExtensionMethodsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindImplementingMembersHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Navigation/FindMemberOverloadsHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/FindReferencesHandler.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/GotoBaseDeclarationHandler.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/BackgroundPackageActionRunnerTests.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement.Tests/MonoDevelop.PackageManagement.Tests/TestableInstrumentationService.cs
  main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/PackageManagementInstrumentationService.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/addins/VersionControl/MonoDevelop.VersionControl/MonoDevelop.VersionControl/Repository.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/Counter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimeCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/Project.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/SolutionItem.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/CompletionStatistics.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Workbench.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/MicrosoftTemplateEngineProjectTemplatingProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/ProjectTemplate.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core/InstrumentationTests.cs
Owners: @Therzok, @mkrueger, @slluis, @mrward

[StructuredOutput] Makes Navigation link trimmed Fixes Bug 621000 https://devdiv.visualstudio.com/DevDiv/_workitems/edit/621000
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputTreeCellView.cs
Owners: none

[Telemetry] Add a TimeToCode metric
  main/src/addins/MacPlatform/MacPlatform.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @iainx, @sevoku, @mkrueger, @slluis

[Telemetry] Use a generic timer so we don't need to pass the metadata
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Ensure all queued UI events are handled before stopping timer
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Track debugger session start times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebugExecutionHandlerFactory.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Time the Alt+Enter command
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/QuickFixMenuHandler.cs
Owners: @Therzok, @mkrueger

[Telemetry] Track debugger action times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Use a timer to decide whether to track TimeToCode
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Ide.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
Owners: @Therzok, @slluis

[Roslyn] Fix persister serialization logic
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopGlobalOptionPersister.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/MonoDevelopOptionPersisterTests.cs
Owners: @Therzok, @slluis, @mrward

[Roslyn] Fix serialization not using migration key paths
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferences.Properties.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.RoslynServices.Options/RoslynPreferencesTests.cs
Owners: none

Fixes issue #5160 Graphical glitching in the text editor.
  main/src/core/Mono.TextEditor.Shared/Mono.TextEditor/TextSegmentMarker.cs
Owners: none

Fixes issue #5162 Renaming method should not trigger removal of generic type arguments
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.Rename/RenameRefactoring.cs
Owners: @Therzok, @mkrueger

[Refactoring] Added rename integration tests.
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.Rename/RenameRefactoring.cs
  main/tests/MonoDevelop.Refactoring.Tests/MonoDevelop.Refactoring.Tests.csproj
  main/tests/MonoDevelop.Refactoring.Tests/MonoDevelop.Refactoring/RenameRefactoringTests.cs
Owners: @Therzok, @mkrueger

Fixes issue #5162 Renaming method should not trigger removal of generic type arguments
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.Rename/RenameRefactoring.cs
Owners: @Therzok, @mkrueger

[Refactoring] Added rename integration tests.
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.Rename/RenameRefactoring.cs
  main/tests/MonoDevelop.Refactoring.Tests/MonoDevelop.Refactoring.Tests.csproj
  main/tests/MonoDevelop.Refactoring.Tests/MonoDevelop.Refactoring/RenameRefactoringTests.cs
Owners: @Therzok, @mkrueger

Replace ArrayList with List<> for memory and performance reasons
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands/CommandManager.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands/CommandMenuItem.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Codons/SolutionPadCodon.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Codons/WorkbenchContextCodon.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/RegexEngine/RegexMatchCollection.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components/ExtensibleTreeView.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
Owners: @Therzok, @slluis, @mkrueger, @sevoku

[Roslyn] Implement IDocumentSupportsFeatureService
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopDocumentSupportsFeatureService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.csproj
Owners: @Therzok

[FSW] Initial implementation based on PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/FileWatcherTests.cs
Owners: @Therzok, @slluis, @mrward

Initial import of PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

FSW now properly integrates PathTree, reconstructing when necessary
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/WorkspaceItem.cs
Owners: @Therzok, @slluis, @mrward

Improve some docs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward

Remove outdated docs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

[CodeFixes] Preview tooltip now has explicit threading semantics
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
