Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger

[MacPlatform] Use DateTimeOffset to calculate TimeSinceLogin
  main/src/addins/MacPlatform/MacTelemetryDetails.cs
Owners: @Therzok, @iainx, @sevoku

[Ide] Fix build not being done when file is unsaved
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
Owners: @slluis

Updated reference to xamarin/md-addins@c0091be
  version-checks
Owners: none

[MacPlatform] Use DateTimeOffset to calculate TimeSinceLogin
  main/src/addins/MacPlatform/MacTelemetryDetails.cs
Owners: @Therzok, @iainx, @sevoku

[Telemetry] Protect the GetLoginTime
  main/src/addins/MacPlatform/MacTelemetryDetails.cs
Owners: @Therzok, @iainx, @sevoku

[gtk2] Update templates to Gtk# 2.12
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/Templates/FSharpGtkProject.xpt.xml
  main/src/addins/CSharpBinding/templates/GtkSharp2Project.xpt.xml
  main/src/addins/VBNetBinding/templates/VBGtkSharp2Project.xpt.xml
Owners: @Therzok, @mkrueger

[fsharp] Explicitly name FSharp Gtk2 template for Gtk2
  main/external/fsharpbinding/MonoDevelop.FSharp.Tests/TemplateTests.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/Templates/FSharpGtk2Project.xpt.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/templates.targets
Owners: none

Updated reference to xamarin/md-addins@33308c2
  version-checks
Owners: none

[Ide] Allow FileType condition on solution tree menu
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components/ExtensibleTreeView.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ProjectPad/ProjectPadContextMenu.addin.xml
Owners: @slluis, @sevoku

[Ide] Optimize FileTypeCondition
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Extensions/FileTypeCondition.cs
Owners: none

[F#] Limit sln pad commands to F# file types
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
Owners: none

Add Roslyn.FSharp files
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/paket.references
  main/external/fsharpbinding/paket.dependencies
  main/external/fsharpbinding/paket.lock
Owners: none

Bump Roslyn to 2.9.
  main/Directory.Build.props
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/packages.config
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/TextPolicyDocumentOptionsProvider.cs
  main/src/core/MonoDevelop.Startup/app.config
Owners: @Therzok, @mkrueger, @slluis, @mrward, @DavidKarlas

[Ide] Handle exception in editor extension initialization
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/TextEditor.cs
Owners: @mkrueger

Branching for xcode10
  version-checks
Owners: none

Rename po.mdproj to po.csproj
  main/Main.sln
  main/po/po.csproj
  main/po/po.mdproj
Owners: none

Update BinaryCompatBaseline.txt.
  main/build/MacOSX/BinaryCompatBaseline.txt
Owners: none

Flush a bunch of sln changes from VS
  main/Main.sln
Owners: none

Fixes VSTS 634797: Pasted text indents with extra whitespace
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpTextPasteHandler.cs
  main/tests/MonoDevelop.CSharpBinding.Tests/MonoDevelop.CSharpBinding/CSharpTextEditorIndentationTests.cs
Owners: @Therzok, @mkrueger

Update Roslyn.FSharp
  main/external/fsharpbinding/paket.lock
Owners: none

Update Roslyn.FSharp
  main/external/fsharpbinding/paket.lock
Owners: none

Updated reference to xamarin/md-addins@1f6ffa9
  version-checks
Owners: none

[Core] LoggingService now keeps track of the Ide log file
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/LoggingService.cs
Owners: @Therzok, @slluis, @mrward

[Ide] When Roslyn wants to show detailed info, open the log file if it's redirected
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

[Ide] Properly rename MonoDevelopErrorReportingServiceFactory
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices/MonoDevelopErrorReportingService.cs
Owners: @Therzok

Update Roslyn.FSharp
  main/external/fsharpbinding/paket.lock
Owners: none

Update Roslyn.FSharp
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/RoslynCompilation.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/paket.references
  main/external/fsharpbinding/paket.dependencies
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/ICompilation.cs
Owners: @Therzok, @slluis, @mrward

Fixes issue #5178 EditorConfig settings not applied to new file added to project
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Formatting/CSharpFormatter.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.OptionProvider/CSharpDocumentOptionsProvider.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor/EditorConfigService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Templates/SingleFileDescriptionTemplate.cs
Owners: @Therzok, @mkrueger

[BuildOutput] Make toolbar's size match other pads'
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.BuildOutputView/BuildOutputWidget.cs
Owners: none

Remove old F# reference usages handler
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
Owners: none

Create and use an extension point for FindReferenceUsages
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FindReferenceUsages.fs
  main/src/addins/CSharpBinding/CSharpBinding.addin.xml
  main/src/addins/CSharpBinding/CSharpBinding.csproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/CSharpFindReferenceUsagesProvider.cs
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/FindProjectReferenceUsagesHandler.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.addin.xml
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring.csproj
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/FindReferenceUsagesProvider.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
Owners: @Therzok, @mkrueger

Add FindReferenceUsagesHandler
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FSharpBinding.addin.xml
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/FindReferenceUsages.fs
  main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj
  main/src/addins/CSharpBinding/MonoDevelop.CSharp.Refactoring/FindProjectReferenceUsagesHandler.cs
Owners: @Therzok, @mkrueger

[Telemetry] Track debugger action times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Add a TimeToCode metric
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.Instrumentation/TimerCounter.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/IdeStartup.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/RootWorkspace.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @mkrueger, @slluis, @mrward

Respond to feedback
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringService.cs
Owners: @Therzok, @mkrueger

[Telemetry] Track debugger session start times
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebugExecutionHandlerFactory.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

Fixes VSTS Bug 613921: [Feedback] Cannot open file, NullReferenceException in MonoDevelop.SourceEditor.FileRegistry.HasMultipleIncorrectEolMarkers
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/FileRegistry.cs
Owners: none

Fixes VSTS Bug 613921: [Feedback] Cannot open file, NullReferenceException in MonoDevelop.SourceEditor.FileRegistry.HasMultipleIncorrectEolMarkers
  main/src/addins/MonoDevelop.SourceEditor2/MonoDevelop.SourceEditor/FileRegistry.cs
Owners: none

[Telemetry] Time the Alt+Enter command
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.CodeActions/CodeActionEditorExtension.cs
Owners: @Therzok, @mkrueger

Updated reference to xamarin/md-addins@71e50ab
  version-checks
Owners: none
