Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger

[Telemetry] Check timer exists before disposing
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebugExecutionHandlerFactory.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Check timer exists before disposing
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebugExecutionHandlerFactory.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

Updated reference to xamarin/md-addins@42d908f
  version-checks
Owners: none

Fix left-over from unit tests fix
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

[CodeFixes] Refactor the code so non-layout calculation is done on a bg thread
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

[PathTree] Protect against malformed paths with two consecutive separators
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
Owners: @Therzok, @slluis, @mrward

[Core] Attempt at circumventing tests monitoring path root
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward

[Refactoring] Prevent collection modification while enumeration
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.AnalysisCore/Gui/ResultsEditorExtension.cs
Owners: @Therzok, @mkrueger

Fixes issue #5160 Graphical glitching in the text editor.
  main/src/core/Mono.TextEditor.Shared/Mono.TextEditor/TextSegmentMarker.cs
Owners: none

Fixes issue #5216 Class pad shows compiler generated fields and ctors
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ClassPad/ClassNodeBuilder.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Pads.ClassPad/ProjectNodeBuilder.cs
Owners: none

[Telemetry] Time only the debugger start, not the whole session
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

Remove GetPropertyName duplication
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices.Options/OptionsExtensions.cs
Owners: none

[Telemetry] Time only the debugger start, not the whole session
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

Reduce code duplication and remove underlying generic methods
  main/src/core/MonoDevelop.Core/MonoDevelop.Core/Properties.cs
Owners: @Therzok, @slluis, @mrward

Test
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
Owners: @Therzok, @slluis, @mrward

Fixes VSTS Bug 640356: IntelliSense/Type recognition breaks in editor
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension/AbstractNavigationExtension.cs
Owners: @Therzok, @mkrueger

Fixes issue #5235 assembly browser does not show public members if target Visibility is "Only public members"
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/EventDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/FieldDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/PropertyDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/TypeDefinitionNodeBuilder.cs
Owners: none

Fixes issue #5235 assembly browser does not show public members if target Visibility is "Only public members"
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/EventDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/FieldDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/PropertyDefinitionNodeBuilder.cs
  main/src/addins/MonoDevelop.AssemblyBrowser/MonoDevelop.AssemblyBrowser/TreeNodes/Cecil/TypeDefinitionNodeBuilder.cs
Owners: none

[Refactoring] Prevent collection modification while enumeration
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.AnalysisCore/Gui/ResultsEditorExtension.cs
Owners: @Therzok, @mkrueger

[CodeFixes] Refactor the code so non-layout calculation is done on a bg thread
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

[CodeFixes] Preview tooltip now has explicit threading semantics
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

[CodeFixes] Refactor the code so non-layout calculation is done on a bg thread
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

[CodeFixes] Preview tooltip now has explicit threading semantics
  main/src/addins/MonoDevelop.Refactoring/MonoDevelop.Refactoring/RefactoringPreviewTooltipWindow.cs
Owners: @Therzok, @mkrueger

[Telemetry] Use the TargetReady event to track debugger start
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Track engine name
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Track engine name
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/Counters.cs
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] factory can be null at the start
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] factory can be null at the start
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Ide] Fix renaming a class asks to reload the file
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/DocumentRegistry.cs
Owners: @slluis

[Ide.Tests] Add test for document reload on rename refactor
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/DocumentReloadTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Owners: none

[Ide] Fix event handler not removed when disposing Document
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
Owners: @slluis

[Ide.Tests] Add test for document reload on rename refactor
  main/tests/Ide.Tests/MonoDevelop.Ide.Editor/DocumentReloadTests.cs
  main/tests/Ide.Tests/MonoDevelop.Ide.Tests.csproj
Owners: none

[Ide] Fix renaming a class asks to reload the file
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/DocumentRegistry.cs
Owners: @slluis

[Ide] Fix event handler not removed when disposing Document
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui/Document.cs
Owners: @slluis

[Telemetry] Track BuildAndDeploy time
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/ProjectOperations.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @slluis

[Telemetry] Use the TargetReady event to track debugger start
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
Owners: none

[Telemetry] Track BuildAndDeploy time
  main/src/addins/MonoDevelop.Debugger/MonoDevelop.Debugger/DebuggingService.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/ProjectOperations.cs
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide/Services.cs
Owners: @Therzok, @slluis

Flush changes
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Smarter root node handling
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward
