Repository mono/monodevelop, changes with the owners that CODEOWNERS names for each.
All owners: @Therzok, @slluis, @mrward, @iainx, @sevoku, @mkrueger, @KirillOsenkov, @DavidKarlas

[PathTree] Protect against malformed paths with two consecutive separators
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
Owners: @Therzok, @slluis, @mrward

[FSW] Initial implementation based on PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/FileWatcherTests.cs
Owners: @Therzok, @slluis, @mrward

Remove outdated docs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

FSW now properly integrates PathTree, reconstructing when necessary
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/WorkspaceItem.cs
Owners: @Therzok, @slluis, @mrward

Flush changes
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Initial import of PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Fix left-over from unit tests fix
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

Remove outdated docs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

Smarter root node handling
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Flush changes
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Fix unit tests
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
Owners: @Therzok, @slluis, @mrward

[PathTree] Protect against malformed paths with two consecutive separators
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
Owners: @Therzok, @slluis, @mrward

Initial import of PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Core.csproj
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTreeNode.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Core.Tests.csproj
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeTests.cs
Owners: @Therzok, @slluis, @mrward

Test
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.FSW/PathTreeNodeTests.cs
Owners: @Therzok, @slluis, @mrward

FSW now properly integrates PathTree, reconstructing when necessary
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/WorkspaceItem.cs
Owners: @Therzok, @slluis, @mrward

Improve some docs
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward

[Core] Attempt at circumventing tests monitoring path root
  main/src/core/MonoDevelop.Core/MonoDevelop.FSW/PathTree.cs
Owners: @Therzok, @slluis, @mrward

[FSW] Initial implementation based on PathTree
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects/FileWatcherService.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/FileWatcherTests.cs
Owners: @Therzok, @slluis, @mrward

[Core] Improve error information on project load failure
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildFileFormatException.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildProject.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: @Therzok, @slluis, @mrward

[Core] Improve error information on project load failure
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildFileFormatException.cs
  main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildProject.cs
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: @Therzok, @slluis, @mrward

[Core.Tests] Add test to check error for invalid MSBuild import
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: none

[Core.Tests] Add test to check error for invalid MSBuild import
  main/tests/MonoDevelop.Core.Tests/MonoDevelop.Projects/MSBuildProjectTests.cs
Owners: none

Add React file types (.jsx, .tsx) in tmLanguage.json files.
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/javascript/syntaxes/JavaScriptReact.tmLanguage.json
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting/VSCodeImport/typescript/syntaxes/TypeScriptReact.tmLanguage.json
Owners: @mkrueger

[Roslyn] Update the fw link for roslyn full solution analysis disabling
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[Roslyn] Update the fw link for roslyn full solution analysis disabling
  main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem/MonoDevelopWorkspace.cs
Owners: @Therzok, @mkrueger, @DavidKarlas

[PerformanceDiagnostics] Add hang detection for telemetry
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Properties/PerformanceDiagnostics.addin.xml
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Fix start/stop UI thread monitoring
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Removed unused stop watch timer
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Fix fatal exception when checking process
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] No need to process samples when not sampling
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Reduce send interval for hang detection
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Shutdown UI thread monitor on IDE exit
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Fix hang detected on force quitting IDE
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Fix fatal exception if socket receive fails
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Retry connection back to IDE
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Do not use stderror when not sampling
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
  main/src/addins/PerformanceDiagnostics/UIThreadMonitorDaemon/Program.cs
Owners: none

[PerformanceDiagnostics] Use task to read stderr output
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Ensure stderr read on background thread.
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

[PerformanceDiagnostics] Remove startup command
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Commands.cs
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/Properties/PerformanceDiagnostics.addin.xml
  main/src/addins/PerformanceDiagnostics/PerformanceDiagnostics/UIThreadMonitor.cs
Owners: none

Updated reference to xamarin/md-addins@5434cff
  version-checks
Owners: none

CODEOWNERS:

# MonoDevelop Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/main/src/core/MonoDevelop.Core @Therzok @slluis @mrward
/main/src/core/MonoDevelop.Ide/ExtensionModel @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.AtkCocoaHelper @iainx
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Commands @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Docking @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.MainToolbar @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Mac @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components/Windows @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components.Theming @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeCompletion @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeFormatting @slluis @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.CodeTemplates @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Composition @Therzok @KirillOsenkov
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Desktop @Therzok @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Extension @Therzok @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.Highlighting @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor.TextMate @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Editor @mkrueger
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.FindInFiles @mkrueger @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Execution @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Components @slluis @sevoku
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui.Content @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Gui @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Navigation @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.ProgressMonitoring @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.RoslynServices @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Tasks @Therzok
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.TypeSystem @Therzok @mkrueger @DavidKarlas
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide.Updater @slluis
/main/src/core/MonoDevelop.Ide/MonoDevelop.Ide @Therzok @slluis
/main/src/core/MonoDevelop.Ide/branding @slluis
/main/src/addins/CSharpBinding @Therzok @mkrueger
/main/src/addins/MacPlatform @Therzok @iainx @sevoku
/main/src/addins/MonoDevelop.Refactoring @Therzok @mkrueger
/main/src/addins/VersionControl @Therzok @mkrueger
